section.section--black.cs-blogDetail
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-body
				.blogDetail-image
					img.main-img(src="img/blog/cs1.jpg" width="384", alt="img")
					img.blur-img(src="img/blog/cs1.jpg" width="384", alt="img")
					.button-white.button-playVideo play video
						i
							svg(width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M0 0V14L11 7L0 0Z" fill="black")
				.blogDetail-prevText
					p How Creative Clicks helped one of the biggest social media platforms drive registrations in APAC and LATAM markets
				.blogDetail-list
					// ========== blog item ==========

					h3 The Goal of the Campaign
					p Driving new registrations, while also executing on KPIs further down the funnel such as first-time posts and engagement.
					p Our client also wanted to maximize their share of voice in key regions and expand further across newly launched global markets.
					h3 The CC Approach

					p Working with a brand that places high importance on innovation means that Creative Clicks is able to bring a full range of expertise to the client’s performance marketing strategies. That has included:
					ul
						li Adapting campaigns to deliver performance across a variety of different acquisition models, such as Cost per First Post (CFP). 
						li Leveraging localized data insights to deliver highly targeted users in APAC and LATAM markets.
						li Working closely with our client’s creative team to develop high- CTR marketing materials based on their various content partnerships (NFL, WSJ, etc.).

					p All this has been boosted also by our proprietary fraud detection software that is fully customizable and works proactively to filter traffic based on the client’s needs and targets.
					h3 The Results
					p The results of Creative Clicks’ activity with the client on a performance basis strongly exceeded client KPIs and allowed for sustainable growth in both key and newly launched markets.

					h5 Key Performance Highlights:
					ul
						li Click to Install #[strong (CVR) above 0.50%v] on all sources
						li Install to Registration Rate of #[strong 37.57%]
						li #[strong 44.39%] Registration to First Post Rate
						li Drove Registrations and First Posts in #[strong 30+ countries]
					p Reach out to us for more info:
						a(href="mailto:sales@creativeclicks.com") sales@creativeclicks.com

			.blogDetail-footer
				h4 Share this article:
				.share-block
					a(href="#!")
						// ========== svg icon 1 =========
						+share1
					a(href="#!")
						// ========== svg icon 2 =========
						+share2
					a(href="#!")
						// ========== svg icon 3 =========
						+share3
