section.section--black.overview-blogDetail
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-body
				.blogDetail-prevText
					p As we wrote in our #[a(href="#!") blog post on Black Friday and Cyber Monday], the holiday shopping season has started earlier than in previous years.
					p What else can you expect this holiday season?

					p First, eMarketer just published research showing that US consumers will spend $190.47 billion online this holiday shopping season. This is a 35.8% increase in sales versus 2019. By comparison, the increase from 2018 to 2019 was only 15.4%, so this jump for eCommerce is huge.

					p We’ve analyzed online retail data sources and compiled a list of holiday shopping trends expected this holiday season and beyond.
				.blogDetail-list
					// ========== blog item ==========
					.blogDetail-list__item
						h3 1. Digital Goods are the new Black
						.blogDetail-list__img
							figure
								img(src="img/blog/2.jpg", width="552"  alt="img")
								figcaption via #[a(href="#!") Shutterstock]
						.blogDetail-list__text
							p For several reasons, 2020 will be the year of digital goods. First, #[strong  the growth of subscription services like Netflix, Disney+, Xbox Ultimate, and PlayStation Now has made digital goods subscriptions desirable gifts]. Second, in a year when delivery times are a bigger unknown, the ability to have a gift delivered digitally ensures that it arrives on-time. Third, the carbon footprint of digital gifts is much smaller with no boxes, wrapping paper, or trips to the mall. Finally, if we have to spend more time indoors and at home, nothing beats a subscription to a digital service.

							p According to #[a(href="#!") #[strong research from Deloitte]], gift cards and other digital services are expected to be the second most popular category of gifts this year, accounting for 19% of holiday spend.

							p This is a trend that will continue well past the holiday season.
					// =========== blog item ==========
					.blogDetail-list__item
						h3 2. Commerce is getting more Social
						.blogDetail-list__img
							figure
								img(src="img/blog/3.jpg", width="552"  alt="img")
								figcaption via #[a(href="#!") Shutterstock]
						.blogDetail-list__text
							p Fewer people are going to the mall with friends this holiday season. But this doesn’t mean that shopping hasn’t become more social.
							p One major social shopping trend this holiday season is #[strong shopping via live streaming]. This trend came from China (though it’s basically an updated version of cable TV’s home shopping networks). Live streaming events are great for showcasing products for sale through product demos and Q&A in a socially engaging environment.
							p Retailers interested in #[a(href="#!") #[strong shoppable videos]] have other options beyond the leading social media platforms including BuyWith, HapYak, and Clicktivated.
							p #[strong Alibaba’s Taobao Live generated $2.86 billion in sales during Single’s Day last year or 7.5% of the company’s total sales]. Everbright Securities estimated that the live streaming e-commerce market was worth $63 billion in 2019, a 220% increase from 2018. With these numbers, social commerce in general and live streaming in particular are trends to be watching in 2020 and beyond.
					// =========== blog item ==========
					.blogDetail-list__item
						h3 3. Can we be friends? Digital and Brick & Mortar Retail Partner
						.blogDetail-list__img
							figure
								img(src="img/blog/4.jpg", width="552"  alt="img")
								figcaption via AdobeStock
						.blogDetail-list__text
							p Data from Google shows that searches for “available near me” increased globally by over 100% in the last year. 

							p This data trend resulted in a partnership that might have seemed unlikely a few years ago between digital direct-to-consumer brands and local retailers. Digital-only brands desire for a ‘touchpoint’ for consumers and local retailers search for unique products to increase foot traffic and sales resulted in this mutually beneficial partnership.

							p The biggest trend uniting digital with brick and mortar retail in 2020 is also retail’s hottest new buzz term for the year: #[strong BOPIS (Buy Online Pickup In Store)]. Along with curbside pickup, these 2020 trends enable shoppers to order online and then pick up from a local retailer. This eliminates the need to worry about the delivery supply chain which is always a concern as we approach December 25th.
					// =========== blog item ==========
					.blogDetail-list__item
						h3 4. Loyalty Pays – Shoppers Returning to Digital Retailers they Discovered This Year
						.blogDetail-list__img
							figure
								img(src="img/blog/5.jpg", width="552"  alt="img")
								figcaption via #[a(href="#!") Freepik] 
						.blogDetail-list__text
							p We've seen significant changes in consumer behaviors in 2020 as shoppers increasingly shopped online during the initial restrictions resulting from COVID-19. Therefore, while in-store shopping increased this summer and fall, this shift to online is continuing. 

							p One such trend, according to research from Criteo, is the increased loyalty to online retailers discovered during COVID-19. #[strong 39% of surveyed shoppers purchased from newly discovered online stores for the first time this year, with 83% saying that they’ll continue purchasing from these newly discovered online retailers].

							p Retailers shouldn’t assume that these loyalty trends are only among older consumers who increasingly turned to online shopping this year. Data from Clarus Commerce found that 73% of millennials joined a loyalty program to take advantage of holiday shopping benefits and rewards. 

							p #[strong To take advantage of this trend, online retailers should be re-engaging with these new shoppers with holiday-specific promotions].
					// =========== blog item ==========
					.blogDetail-list__item
						h3 5. Gift according to New Lifestyle Choices
						.blogDetail-list__img
							figure
								img(src="img/blog/6.jpg", width="552"  alt="img")
								figcaption via AdobeStock 
						.blogDetail-list__text
							p As noted above, consumers made a lot of changes in 2020. And many of these changes resulted in lifestyle changes, too.

							p According to data from Criteo’s “Peak to Recovery” survey, 55% of surveyed consumers said that COVID-19 was a good opportunity to make lifestyle changes. Specifically, consumers discovered/rediscovered the following activities which they plan on continuing:
							ul
								li Cooking at home (52%)
								li Exercising at home (36%)
								li Gardening (25%)
							p Research from the Cleveland Clinic and Parade Magazine found that COVID-19 has motivated people to get healthy. Over 50% of those surveyed have adopted healthy lifestyle changes. More than 30% are eating healthier foods.
							p Here's a surprising statistic: nearly 80% have said that the quarantine has made them value their relationships. I guess there is something to be said for Netflix and…

							p It’s not too late for online retailers to promote lifestyle-related gifting ideas, particularly digital ones.
					// =========== blog item ==========
					.blogDetail-list__item
						h3 6. Make it Immersive
						.blogDetail-list__img
							figure
								img(src="img/blog/6.jpg", width="552"  alt="img")
								figcaption via AdobeStock 
						.blogDetail-list__text
							p Immersive technologies are a growing trend in holiday marketing this year.
							p According to research from Accenture Interactive, 61% of shoppers surveyed said that they would be more likely to buy from a marketer using immersive technology like augmented and virtual reality (AR/VR) and 3D content. In addition, 47% of shoppers surveyed said that immersive technology makes them feel more connected with the brand. Furthermore, 47% also said that the use of immersive technology makes them more likely to engage with a product if it can provide personalized recommendations suited to their needs. 

							p Based on this data, it’s not surprising that according to Accenture’s research, 64% of consumer brands surveyed are investing in the creation of immersive experiences.

							p Looking for some marketing support to optimize your holiday campaign? Considering TikTok or another new channel? Just reach out to Creative Clicks. We’re waiting for your call/email.
			.blogDetail-footer
				h4 Share this article:
				.share-block
					a(href="#!")
						// ========== svg icon 1 =========
						+share1
					a(href="#!")
						// ========== svg icon 2 =========
						+share2
					a(href="#!")
						// ========== svg icon 3 =========
						+share3