section.section--black.overview-blogDetail
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-body
				.blogDetail-prevText
					p How Creative Clicks helped one of the biggest social media platforms drive registrations in APAC and LATAM markets
				.blogDetail-list
					// ========== blog item ==========
					.blogDetail-list__item
						h3 The Goal of the Campaign
						.blogDetail-list__text
							p Driving new registrations, while also executing on KPIs further down the funnel such as first-time posts and engagement.
							p Our client also wanted to maximize their share of voice in key regions and expand further across newly launched global markets.

					// =========== blog item ==========
					.blogDetail-list__item
						h3 The CC Approach
						.blogDetail-list__text
							p Working with a brand that places high importance on innovation means that Creative Clicks is able to bring a full range of expertise to the client’s performance marketing strategies. That has included:
							ul
								li Adapting campaigns to deliver performance across a variety of different acquisition models, such as Cost per First Post (CFP). 
								li Leveraging localized data insights to deliver highly targeted users in APAC and LATAM markets.
								li Working closely with our client’s creative team to develop high- CTR marketing materials based on their various content partnerships (NFL, WSJ, etc.).
							
							p All this has been boosted also by our proprietary fraud detection software that is fully customizable and works proactively to filter traffic based on the client’s needs and targets.
					// =========== blog item ==========
					.blogDetail-list__item
						h3 The Results
						
						.blogDetail-list__text
							p The results of Creative Clicks’ activity with the client on a performance basis strongly exceeded client KPIs and allowed for sustainable growth in both key and newly launched markets. 

							p Key Performance Highlights:

							ul
								li Click to Install (CVR) above 0.50%v on all sources
								li Install to Registration Rate of 37.57%
								li 44.39% Registration to First Post Rate
								li Drove Registrations and First Posts in 30+ countries
							p Reach out to us for more info: sales@creativeclicks.com
			.blogDetail-footer
				h4 Share this article:
				.share-block
					a(href="#!")
						// ========== svg icon 1 =========
						+share1
					a(href="#!")
						// ========== svg icon 2 =========
						+share2
					a(href="#!")
						// ========== svg icon 3 =========
						+share3
