mixin infocard4(text, addText1, addText2, imgSrc)
	.info-card
		.info-card__img
			img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
			.blure-block
				img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
		.info-card__body
			.info-card__badge
				span Case study
			.marked-text !{text}
		.info-card__footer
			a(href="case-studies-3.html").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black.prove-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			.section-title
				h3 2 results:
			.infocard-block.infocard-block--right.infocard-block--reverse.infocard-block--red
				.infocard-block__content
					.infocard-block__row
						+infocard4('Helping a famous social media platform drive registra-tions in APAC and LATAM', 'Today', '7 min. read', 5)
						+infocard4('Cras&nbsp;mattis consecteur purus sit amet', '1 Day ago', '6 min. read', 6)
						
				.btn-wrap
					a(href="#!").button-white.light-button show all (12)