@font-face {
  font-family: 'Karla Bold';
  src: url('../fonts/Karla-Bold.eot');
  src: url('../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Bold.woff') format('woff'),
  url('../fonts/Karla-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.test{
  padding: 20px;
  background-color: @orange;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  font-family: 'Karla Bold';
  font-size: 24px;
}
.noscroll{
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #000;

}
.container--p0{
  padding-left: 0;
  padding-right: 0;
}
a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3, h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input, button {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

section {
  padding-left: 16px;
  padding-right: 16px;
}

// typography
.title-3 h3,
.title-1 h1 {
  font-size: 128px;
  line-height: 0.86;
  @media (max-width: 1364px) {
    font-size: 104px;

  }
  @media (max-width: 1199px) {
    font-size: 80px;

  }
  @media (max-width: 991px) {
    font-size: 56px;

  }
}
.hidden-layout{
  height: 64px;
}
.title-2 h2 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  @media (max-width: 1364px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.head-3 h3 {
  font-size: 56px;
  line-height: 48px;
  text-transform: uppercase;
  
  @media (max-width: 1364px) {
    font-size: 40px;
    line-height: 36px;
  }

}

.text-32,
.text-32 p {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  @media (max-width: 1199px) {
    font-size: 24px;
    line-height: 36px;
  }

}
.text-block{
  .head-3{
    margin-bottom: 64px;
  }
}
.text-center {
  text-align: center;
}

.title-group {
  max-width: 688px;
  text-transform: uppercase;

  .title-2 {
    margin-bottom: 24px;
  }
}
.title-group.title-group--reverse{
  display: flex;
  flex-direction: column-reverse;
}
.title-group.group-right {
  margin-left: auto;
  @media (max-width: 767px) {
    margin-right: auto;
  }
}

.title-group.group-center {
  margin-left: auto;
  margin-right: auto;
}

.visible-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.hide-mobile {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.marked-text {
  font-size: 50px;
  color: #000;
  padding-left: 10px;
  line-height: 59px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.marked-text span {
  width: fit-content;
  background-color: #b5226c;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 45px;
}

.marked-text.marked-text--right {
  justify-content: flex-end;

  span {
    margin-left: auto;
  }
}


// button
.button-white{
  display: inline-flex;
  background-color: #FFFFFF;
  padding-left: 24px;
  padding-right: 36px;
  height: 56px;
  color: #000000;
  outline: none;
  text-align: center;
  letter-spacing: 0.01em;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  span+span{
    margin-left: 14px;
  }

  &:hover {
    background-color: @hoverBtn;
  }
}
//padding and margin
.p-128{
  padding: 128px;
  @media(max-width:1365px){
    padding-left: 64px;
    padding-right: 64px;
  }
  @media(max-width:1199px){
    padding-left: 48px;
    padding-right: 48px;
  }
  @media(max-width:992px){
    padding-left: 24px;
    padding-right: 24px;
  }
}
