section.blog
    .container
        .black-wrapper
            .progress-bar
            .blog-title
                +titleGroup('The latest from<br class="visible-mobile"> the trade', 'We’re<br class="visible-mobile"> on<br class="hide-mobile"> top<br class="visible-mobile"> of it')
            .blog-content
                .blog-cards
                    .blog-cards-item
                        .blog-img
                            img(src="img/images/9.jpg", width="256" alt="img")
                        .blog-cards-title
                            .marked-text
                                span Millenials
                                span followed
                                span 24/7
                            .subtitle-text
                                span Today
                                span.italic 5 min. read
                        .blog-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .blog-cards-item
                        .blog-img
                            img(src="img/images/10.jpg", width="256" alt="img")
                        .blog-cards-title
                            .marked-text
                                span Marketing
                                span in China
                            .subtitle-text
                                span 3 Days ago
                                span.italic 4 min. read
                        .blog-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .blog-cards-item
                        .blog-img
                            img(src="img/images/11.jpg", width="256" alt="img")
                        .blog-cards-title
                            .marked-text
                                span Hongkong
                                span business
                            .subtitle-text
                                span 3 Days ago
                                span.italic 4 min. read
                        .blog-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
