section.blog
    .container
        .blog-title
            +titleGroup('The latest from the trade', 'We’re<br class="visible-mobile"> on top<br class="visible-mobile"> of it')
        .blog-content
            .blog-cards
                .blog-cards-item
                    .blog-img
                        img("img/images/9.jpg", width="226" alt="img")
                    .blog-cards-title
                        .marked-text
                            span Millenials
                            span followed
                            span 24/7
                        .subtitle-text
                            span Today
                            span 5 min. read
                    .blog-button
                        a(href="#!").button-white
                            span Button
                            span
                                +sliderArrowRight
                .blog-cards-item
                    .blog-img
                        img("img/images/10.png", width="226" alt="img")
                    .blog-cards-title
                        .marked-text
                            span Marketing
                            span in China
                        .subtitle-text
                            span 3 Days ago
                            span 4 min. read
                    .blog-button
                        a(href="#!").button-white
                            span Button
                            span
                                +sliderArrowRight
                .blog-cards-item
                    .blog-img
                        img("img/images/11.png", width="226" alt="img")
                    .blog-cards-title
                        .marked-text
                            span Hongkong
                            span business
                        .subtitle-text
                            span 3 Days ago
                            span 4 min. read
                    .blog-button
                        a(href="#!").button-white
                            span Button
                            span
                                +sliderArrowRight
