section.blog
    .container
        .blog-title
            +titleGroup('The latest from the trade', 'We’re<br class="visible-mobile"> on top<br class="visible-mobile"> of it')
        .blog-content
            .blog-cards
                .blog-cards-item
                    .blog-img
                        img("img/images/9.jpg", width="226" alt="img")
                    .blog-cards-title
                        .title-text
                        .subtitle-text
                    .btn
                .blog-cards-item
                    .blog-img
                        img("img/images/10.png", width="226" alt="img")
                    .blog-cards-title
                        .title-text
                        .subtitle-text
                    .btn
                .blog-cards-item
                    .blog-img
                        img("img/images/11.png", width="226" alt="img")
                    .blog-cards-title
                        .title-text
                        .subtitle-text
                    .btn
                            