mixin infocard3(spanText, addText1, addText2, imgSrc, t1,t2,t3,t4)
	.info-card2.info-card--bg
		.info-card__img(data-aos="fade-up"  data-aos-delay=""+ t1)
			img.main-img(src="img/images/"+imgSrc +".jpg", width="335" alt="img")
		.info-card__body
			.info-card__title(data-aos="fade-up"  data-aos-delay=""+ t2)
				h3 !{spanText}
			.additional-info(data-aos="fade-up"  data-aos-delay=""+ t3)
				p #{addText1}
				p #{addText2}
		.info-card__footer(data-aos="fade-up"  data-aos-delay=""+ t4)
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.blog
	.progress-bar
	.container.container--p0
		.black-wrapper
			.blog-title
				+titleGroup('The latest from<br class="visible-mobile"> the trade', 'We’re<br class="visible-mobile"> on<br class="hide-mobile"> top<br class="visible-mobile"> of it')
			.infocard-block.infocard-block--right.infocard-block--reverse.infocard-block--purple(data-aos="fade-up"  data-aos-delay="400")
				.infocard-block__content
					.infocard-block__row
						+infocard3('Millenials followed 24/7', 'Today', '5 min. read', 9, 450,500,550,600)
						+infocard3('Marketing in&nbsp;China', '3 Days ago', '4 min. read', 10, 650,700,750,800)
						+infocard3('Hongkong business', '3 Days ago', '4 min. read', 11, 850,900,950,1000)