section.events
    .container
        .black-wrapper
            .progress-bar.progress-bar--right
            .events-title
                +titleGroup('Upcoming events', 'We<br class="visible-mobile"> speak<br> up')
            .events-content
                .events-cards
                    .events-cards-item.events-cards-item-1
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('1 okt')
                            .marked-text
                                span Influencer
                                span marketing in
                                span Asia
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .events-cards-item.events-cards-item-2
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('7 sep')
                            .marked-text
                                span How
                                span blockchain
                                span impacts
                                span influencer
                                span marketing
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .events-cards-item.events-cards-item-3
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('24 sep')
                            .marked-text
                                span This colour
                                span will look
                                span good on
                                span your
                                span instagram
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
