section.events
    .container
        .black-wrapper
            .events-title
                +titleGroup('Upcoming events', 'We<br class="visible-mobile"> speak<br class="visible-mobile"> up')
            .events-content
                .progress-bar.progress-bar--right
                .events-cards
                    .events-cards-item
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            .marked-text
                                span Influencer
                                span marketing
                                span in Asia
                            .events-button
                                a(href="#!").button-white
                                    span Learn more
                                    span
                                        +sliderArrowRight
                    .events-cards-item
                        .events-img
                            img(src="img/images/12.jpg", width="225.8" alt="img")
                        .events-cards-title
                            .marked-text
                                span How  impacts
                                span blockchain
                                span impacts
                                span influencer
                                span marketing
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .events-cards-item
                        .events-img
                            img(src="img/images/12.jpg", width="225.8" alt="img")
                        .events-cards-title
                            .marked-text
                                span This colour
                                span will look
                                span good on
                                span your
                                span instagram
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
