section.events
    .progress-bar.progress-bar--right
    .container
        .black-wrapper
            .events-title
                +titleGroup('Upcoming events', 'We<br class="visible-mobile"> speak<br> up')
            .events-content
                .events-cards
                    .events-cards-item.events-cards-item-1
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('1 okt')
                            .marked-text.marked-text--fix  Influencer  marketing in  Asia
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .events-cards-item.events-cards-item-2
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('7 sep')
                            .marked-text.marked-text--fix  How blockchain impacts influencer  marketing
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
                    .events-cards-item.events-cards-item-3
                        .events-img
                            img(src="img/images/12.jpg", width="256" alt="img")
                        .events-cards-title
                            +lable('24 sep')
                            .marked-text.marked-text--fix This colour  will look good on your instagram
                        .events-button
                            a(href="#!").button-white
                                span Learn more
                                span
                                    +sliderArrowRight
