section.feedback
	.progress-bar
	.container
		.feedback-content
			.feedback__header
				
				+titleGroup('Get connected', 'We <br class="visible-mobile">keep <br class="hide-mobile"> in <br class="visible-mobile">touch <br> (safely)')
			.feedback-color-block.p-128
				.feedback__img.color-block__img
					img.main-img(src="img/feedback/1.jpg", width="576" alt="img")
					img.blur-img(src="img/feedback/1.jpg", width="576" alt="img")
				.feedback-form-wrapper
					form.contact-form#contact-form(action="#" method="POST" autocomplete="off")
						.form-item
							label Your email
							input(type="text" name="email" placeholder="Your e-mail")
						.form-item
							label Your message
							p.textarea(role="textbox" contenteditable)
						.form-btn
							button(type="submit").button-white
								span Let’s connect
								span 
									+sliderArrowRight