footer.footer
	.container
		.footer-content
			.footer-logo
				img(src="img/logo/logo-footer.png", width="115" alt="logo")
			.footer-bottom
				.footer-bottom-left
					a(href="#!") careers
				.footer-bottom-right
					a(href="#!") contact