// header-top
.header-top
	a(href="index.html").logo
		img(src="img/logo/logo.png", width="92" alt="logo")
	.menu-toggle
		span
	//header-menu
.header-navigation
	.header-menu
		.header-menu__list
			.header-menu__list-head
				a(href="index.html").logo.logo--mobile
					img(src="img/logo/logo.png", width="92" alt="logo")
				button.close-mobile-menu
					+icon-close
			ul
				li.active
					a(href="#") Home
				li
					a(href="whatWeDo.html") What we do
				li
					a(href="whoWeAre.html") Who we are
				li
					a(href="careers.html") Careers
				li
					a(href="resources.html") Resources
				li
					a(href="signIn.html") Sign in
header.header
	.hidden-layout
	.container.container--p0
		.title-group
			.title-1
				h1 medgen
			.title-2
				h2 We believe in our Industry-focus approach as the key to a mutual success.
		
		.header-color-block.p-128.color-block.bg-blue
			.color-block__img
				img.main-img(src="img/medgen/1.jpg", width="524" alt="img")
				img.blur-img(src="img/medgen/1.jpg", width="524" alt="img")
			.text-block
				.head-3
					h3 Who we are
				.white-text 
					p We are marketing experts in the healthcare ecosystem and we serve our clients with data driven and machine learning marketing strategies that deliver high intent quality customers.
				.dark-text 
					p Our highly trained team of experts, combined with advanced technologies and a deep knowledge of the Healthcare sector, make sure we reach your target audience and achieve high conversion rates. One agency to reach your success. We believe that a unique UX and a full focus on the customer journey is key to win the marketplace. For this, at MedGen we combine organic traffic with a multichannel winning paid media strategy.
					p We act as a one-stop shop and will make sure all your needs are covered.