// header-top
.header-top
	a(href="index.html").logo
		img(src="img/logo/logo.png", width="92" alt="logo")
	.menu-toggle
		span
	//header-menu
.header-navigation
	.header-menu.header-menu--yellow
		.header-menu__list
			.header-menu__list-head
				a(href="index.html").logo.logo--mobile
					img(src="img/logo/logo.png", width="92" alt="logo")
				button.close-mobile-menu
					+icon-close
			ul
				li
					a(href="whatWeDo.html") Home
				li
					a(href="whatWeDo.html") What we do
				li.active
					a(href="whoWeAre.html") Who we are
				li
					a(href="careers.html") Careers
				li
					a(href="resources.html") Resources
				li
					a(href="signIn.html") Sign in
header.header
	.progress-bar.progress-bar--right
	.hidden-layout
	.container.container--p0
		.title-group
			.title-group__icon
				img(src="img/venture/logo-venture.png", width="171" alt="logo")
			.title-3
				h1 We help entrepreneurs build successful companies
		.header-color-block.p-128.color-block.bg-yellow
			.color-block__img.hide-mobile
				img.main-img(src="img/venture/1.jpg", width="786" alt="img")
				
			.color-block__img.visible-mobile
				img.main-img(src="img/venture/1mob.jpg", width="256" alt="img")
				
			.text-block
				.head-3
					h3 Who we are
				.dark-text.bold-text
					p Create Ventures is an early-stage investment fund in the AdTech industry that helps entrepreneurs building fast-growing, scalable and outstanding global companies. Leveraging our financial back office, proprietary technology and industry expertise, CC Ventures can break the barriers to entry in the competitive AdTech Industry.
				.dark-text.regular-text
					p Create Ventures is a branch of the Creative Clicks group of companies. Creative Clicks is a global leader in the performance marketing industry and employees approximately 150 people divided in our six offices around the world. The management of Creative Clicks has extensive experience with M&A, IPO and trade sales processes and can immediately create added value to the future global stars in the AdTech space.