
section.section--black.medgen-blockText.medgen-blockText5
	.progress-bar
	.container.container--p0
		.black-wrapper
			.title-group
				.title-3
					h3 Where we are
			.blogDetail-wrapper
				.blogDetail-body
					.text-block
						.white-text
							p MedGen is part of the Creative Clicks Group. This allows us to offer our clients a direct access to a large marketplace and global coverage, 24 hours/day, 7&nbsp;days/week.