footer.footer
	.container
		.footer-content
			.footer-logo
				img(src="img/medgen/medgen-logo.svg", width="128" alt="logo")
			.footer-bottom
				.footer-bottom-left
					a(href="#!") What we do
				.footer-bottom-right
					a(href="#!") Creative Clicks
			+footer-social