
section.section--black.medgen-blockText.position-left
	.progress-bar
	.container.container--p0
		.black-wrapper
			.title-group
				.title-3
					h3 Our approach
			.blogDetail-wrapper
				.blogDetail-body
					.blogDetail-prevText
						p Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.