
section.section--black.medgen-blockText.position-right
	.progress-bar.progress-bar--right
	.container.container--p0
		.black-wrapper
			.title-group
				.title-3
					h3 Our approach
			.blogDetail-wrapper
				.blogDetail-body
					.blogDetail-prevText
						p MedGen is part of the Creative Clicks Group. This allows us to offer our clients a direct access to a large marketplace and global coverage, 24 hours/day, 7 days/week.