section.offices#offices
	.progress-bar
	.container
		.offices-content
			.offices__header
				.title-group
					.title-2(data-aos="fade-up"  data-aos-delay="200")
						h2 With our 5 offices in 4 <br> different continents
					.title-3.hide-mobile(data-aos="fade-up"  data-aos-delay="300")
						h3 we’ll <br> assist <br> 24/7
					.title-3.visible-mobile(data-aos="fade-up"  data-aos-delay="300")
						h3 we are <br> available <br> 24/7
				
			.offices-color-block(data-aos="fade-up"  data-aos-offset="10" data-aos-delay="350")
				.offices__img.color-block__img(data-aos="fade-up"  data-aos-delay="400")
					img.main-img(src="img/offices/1.jpg", width="576" alt="img")
				.offices-group
					.offices-group__item
						p.time-text#clock1(data-aos="fade-up"  data-aos-delay="450")
						p.city(data-aos="fade-up"  data-aos-delay="500") Amsterdam
					.offices-group__item
						p.time-text#clock2(data-aos="fade-up"  data-aos-delay="550")
						p.city(data-aos="fade-up"  data-aos-delay="600") Beijng
					.offices-group__item
						p.time-text#clock3(data-aos="fade-up"  data-aos-delay="650")
						p.city(data-aos="fade-up"  data-aos-delay="700") Tel Aviv
					.offices-group__item.offices-group__item-disable
						p.time-text#clock4(data-aos="fade-up"  data-aos-delay="750")
						p.city(data-aos="fade-up"  data-aos-delay="800") Toronto
					.offices-group__item
						p.time-text#clock5(data-aos="fade-up"  data-aos-delay="850")
						p.city(data-aos="fade-up"  data-aos-delay="900") San Francisco