section.offices#offices
	.progress-bar
	.container
		.offices-content
			.offices__header
				.title-group
					.title-2
						h2 With our 5 offices in 4 <br> different continents
					.title-3.hide-mobile
						h3 we’ll <br> assist <br> 24/7
					.title-3.visible-mobile
						h3 we are <br> available <br> 24/7
				
			.offices-color-block
				.offices__img.color-block__img
					img.main-img(src="img/offices/1.jpg", width="576" alt="img")
					img.blur-img(src="img/offices/1.jpg", width="576" alt="img")
				.offices-group
					.offices-group__item
						p.time-text#clock1
						p.city Amsterdam
					.offices-group__item
						p.time-text#clock2
						p.city Beijng
					.offices-group__item
						p.time-text#clock3
						p.city Tel Aviv
					.offices-group__item.offices-group__item-disable
						p.time-text#clock4
						p.city Toronto
					.offices-group__item
						p.time-text#clock5
						p.city San Francisco