section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			+titleGroup('Some of the companies ', 'we’re <br class="visible-mobile">lucky <br class="hide-mobile">  to<br class="visible-mobile">  work<br class="visible-mobile"> with ')
			.partners-slider.partners-slider-1
				.partners-slider__item-wrapper
					.partners-slider__item
						.partners-logo.logo-1(data-aos="fade-up"  data-aos-delay="400")
							+logo1
						.partners-logo.logo-2(data-aos="fade-up"  data-aos-delay="500")
							+logo2
						.partners-logo.logo-3(data-aos="fade-up"  data-aos-delay="600")
							+logo3
						.partners-logo.logo-4(data-aos="fade-up"  data-aos-delay="700")
							+logo4
				.partners-slider__item-wrapper
					.partners-slider__item
						.partners-logo.logo-5
							+logo5
						.partners-logo.logo-6(style="width: 100px;")
							+logo6
						.partners-logo.logo-7
							+logo7
						.partners-logo.logo-8
							+logo8
				.partners-slider__item-wrapper
					.partners-slider__item
						.partners-logo.logo-9
							+logo9
						.partners-logo.logo-10
							+logo10
						.partners-logo.logo-11
							+logo11
						.partners-logo.logo-12
							+logo12
						
//- section.partners-footer
//- 	.container
//- 		.partners-content
//- 			h3 every day