section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			.title-group
				.title-2
					h2 Trusted by
			.partners-slider.partners-slider-2.owl-carousel
				.partners-slider__item
					.partners-logo.logo-1
						img(src="img/medgen/partners/1.png", width="120" alt="logo")
					.partners-logo.logo-2
						img(src="img/medgen/partners/2.png", width="130" alt="logo")
					.partners-logo.logo-3
						img(src="img/medgen/partners/3.png", width="124" alt="logo")
					.partners-logo.logo-4
						img(src="img/medgen/partners/4.png", width="125" alt="logo")
				.partners-slider__item
					.partners-logo.logo-5
						img(src="img/medgen/partners/5.png", width="135" alt="logo")
					.partners-logo.logo-6
						img(src="img/medgen/partners/6.png", width="120" alt="logo")
					.partners-logo.logo-7
						img(src="img/medgen/partners/7.png", width="145" alt="logo")