section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			+titleGroup('Some of the companies ', 'we’re <br class="visible-mobile">lucky <br class="hide-mobile">  to<br class="visible-mobile">  work<br class="visible-mobile"> with ')
			.partners-slider.partners-slider-1.owl-carousel
				.partners-slider__item
					.partners-logo.logo-1
						+logo1
					.partners-logo.logo-2
						+logo2
					.partners-logo.logo-3
						+logo3
					.partners-logo.logo-4
						+logo4
				.partners-slider__item
					.partners-logo.logo-5
						+logo5
					.partners-logo.logo-6(style="width: 100px;")
						+logo6
					.partners-logo.logo-7
						+logo7
					.partners-logo.logo-8
						+logo8
				.partners-slider__item
					.partners-logo.logo-9
						+logo9
					.partners-logo.logo-10
						+logo10
					.partners-logo.logo-11
						+logo11
					.partners-logo.logo-12
						+logo12
						
section.partners-footer
	.container
		.partners-content
			h3 every day