section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content(data-aos="fade-up" data-aos-delay="500")
			+titleGroup('Some of the companies ', 'we’re <br class="visible-mobile">lucky <br class="hide-mobile">  to<br class="visible-mobile">  work<br class="visible-mobile"> with ')
			.partners-slider.partners-slider-1.owl-carousel
				.partners-slider__item
					.partners-logo.logo-1(data-aos="fade-up" data-aos-delay="500")
						+logo1
					.partners-logo.logo-2(data-aos="fade-up" data-aos-delay="600")
						+logo2
					.partners-logo.logo-3(data-aos="fade-up" data-aos-delay="700")
						+logo3
					.partners-logo.logo-4(data-aos="fade-up" data-aos-delay="800")
						+logo4
				.partners-slider__item
					.partners-logo.logo-5(data-aos="fade-up" data-aos-delay="900")
						+logo5
					.partners-logo.logo-6(style="width: 100px;" data-aos="fade-up" data-aos-delay="500")
						+logo6
					.partners-logo.logo-7(data-aos="fade-up" data-aos-delay="500")
						+logo7
					.partners-logo.logo-8(data-aos="fade-up" data-aos-delay="500")
						+logo8
				.partners-slider__item
					.partners-logo.logo-9(data-aos="fade-up" data-aos-delay="500")
						+logo9
					.partners-logo.logo-10(data-aos="fade-up" data-aos-delay="500")
						+logo10
					.partners-logo.logo-11(data-aos="fade-up" data-aos-delay="500")
						+logo11
					.partners-logo.logo-12(data-aos="fade-up" data-aos-delay="500")
						+logo12
						
//- section.partners-footer
//- 	.container
//- 		.partners-content
//- 			h3 every day