section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			+titleGroup('Some of the companies ', 'we’re <br class="visible-mobile">lucky <br class="hide-mobile">  to<br class="visible-mobile">  work<br class="visible-mobile"> with ')
			.partners-slider.owl-carousel
				.partners-slider__item
					.partners-logo.logo-1
						+logo1
						//- img(src="img/partners/1.png", width="105" alt="logo")
					.partners-logo.logo-2
						+logo2
						//- img(src="img/partners/2.png", width="163" alt="logo")
					.partners-logo.logo-3
						+logo3
						//- img(src="img/partners/3.png", width="124" alt="logo")
					.partners-logo.logo-4
						+logo4
						//- img(src="img/partners/4.png", width="100" alt="logo")
				.partners-slider__item
					.partners-logo.logo-5
						+logo5
						//- img(src="img/partners/5.png", width="150" alt="logo")
				
					.partners-logo.logo-6(style="width: 100px;")
						+logo6
						//- img(src="img/partners/6.png", width="100" alt="logo")
				
					.partners-logo.logo-7
						+logo7
						//- img(src="img/partners/7.png", width="84" alt="logo")
				
					.partners-logo.logo-8
						+logo8
						//- img(src="img/partners/8.png", width="158" alt="logo")
				.partners-slider__item
					.partners-logo.logo-9
						+logo9
						//- img(src="img/partners/9.png", width="173" alt="logo")
				
					.partners-logo.logo-10
						+logo10
						//- img(src="img/partners/10.png", width="179" alt="logo")
				
					.partners-logo.logo-11
						+logo11
						//- img(src="img/partners/11.png", width="99" alt="logo")
				
					.partners-logo.logo-12
						+logo12
						//- img(src="img/partners/12.png", width="120" alt="logo")
section.partners-footer
	.container
		.partners-content
			//- .progress-bar.progress-bar--right
			h3 every day