section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			.title-group
				.title-2(data-aos="fade-up"  data-aos-delay="200")
					h2 Trusted by
			.partners-slider.partners-slider-2
				.partners-slider__item(data-aos="fade-up"  data-aos-delay="300")
					.partners-logo.logo-1
						img(src="img/medgen/partners/1.png", width="180" alt="logo")
				.partners-slider__item(data-aos="fade-up"  data-aos-delay="350")
					.partners-logo.logo-2
						img(src="img/medgen/partners/2.png", width="195" alt="logo")
				.partners-slider__item(data-aos="fade-up"  data-aos-delay="400")
					.partners-logo.logo-3
						img(src="img/medgen/partners/3.png", width="186" alt="logo")
				.partners-slider__item(data-aos="fade-up"  data-aos-delay="450")
					.partners-logo.logo-4
						img(src="img/medgen/partners/4.png", width="187" alt="logo")
				.partners-slider__item
					.partners-logo.logo-5
						img(src="img/medgen/partners/5.png", width="195" alt="logo")
				.partners-slider__item
					.partners-logo.logo-6
						img(src="img/medgen/partners/6.png", width="180" alt="logo")
				.partners-slider__item
					.partners-logo.logo-7
						img(src="img/medgen/partners/7.png", width="220" alt="logo")