section.partners
	.progress-bar.progress-bar--right
	.container
		.partners-content
			+titleGroup('Some of the companies ', 'we’re <br class="visible-mobile">lucky <br class="hide-mobile">  to<br class="visible-mobile">  work<br class="visible-mobile"> with ')
			.partners-slider.owl-carousel
				.partners-slider__item
					.partners-logo(style="width: 75px;")
						img(src="img/partners/1.png", width="105" alt="logo")
					.partners-logo(style="width: 163px;")
						img(src="img/partners/2.png", width="163" alt="logo")
					.partners-logo(style="width: 124px;")
						img(src="img/partners/3.png", width="124" alt="logo")
					.partners-logo(style="width: 100px;")
						img(src="img/partners/4.png", width="100" alt="logo")
				.partners-slider__item
					.partners-logo(style="width: 150px;")
						img(src="img/partners/5.png", width="150" alt="logo")
				
					.partners-logo(style="width: 100px;")
						img(src="img/partners/6.png", width="100" alt="logo")
				
					.partners-logo(style="width: 84px;")
						img(src="img/partners/7.png", width="84" alt="logo")
				
					.partners-logo(style="width: 158px;")
						img(src="img/partners/8.png", width="158" alt="logo")
				.partners-slider__item
					.partners-logo(style="width: 173px;")
						img(src="img/partners/9.png", width="173" alt="logo")
				
					.partners-logo(style="width: 179px;")
						img(src="img/partners/10.png", width="179" alt="logo")
				
					.partners-logo(style="width: 99px;")
						img(src="img/partners/11.png", width="99" alt="logo")
				
					.partners-logo(style="width: 120px;")
						img(src="img/partners/12.png", width="120" alt="logo")
section.partners-footer
	.container
		.partners-content
			//- .progress-bar.progress-bar--right
			h3 every day