section.case-studies
	.progress-bar
	.container
		.case-studies-content
			.case-studies__header
				.case-studies__img.head-group__img
					img(src="img/images/sliderImg.jpg", width="386" alt="img")
				+titleGroup('Case studies', 'We<br class="visible-mobile"> can <br class="hide-mobile"> prove it')
			.case-slider-wrapper
				.case-slider-arrows
					button.arr-left
						+sliderArrowLeft
					button.arr-right
						+sliderArrowRight
				.case-slider.case-slider.owl-carousel
					.case-slider-item
						.case-slider__head
							.case-slider-badge Case study
							.head-3
								h3 Cras mattis consecteur purus sit amet
						.case-slider__body
							.text-32
								p Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
					.case-slider-item
						.case-slider__head
							.case-slider-badge Case study
							.head-3
								h3 Cras mattis consecteur purus sit amet
						.case-slider__body
							.text-32
								p Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
					.case-slider-item
						.case-slider__head
							.case-slider-badge Case study
							.head-3
								h3 Cras mattis consecteur purus sit amet
						.case-slider__body
							.text-32
								p Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.


