mixin sliderIt
	.case-slider-item.section-slider__item
		.case-slider__head
			.case-slider-badge Case study
			.head-3
				h3 Cras mattis consecteur purus sit amet
		.case-slider__body
			.text-32
				p Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
section.case-studies
	.progress-bar.progress-bar--right
	.container
		.section-top
			+titleGroup('Case studies', 'We<br class="visible-mobile"> can <br class="hide-mobile"> prove it')
		// ========= IMG SLIDER ==========
		.slider__images.slider__images--left#case-images
				.slider__img-item
					img(src="img/resources/4.jpg", width="576" alt="img")
				.slider__img-item
					img(src="img/resources/4.jpg", width="576" alt="img")
				.slider__img-item
					img(src="img/resources/4.jpg", width="576" alt="img")
		
		// ========= TEXT SLIDER ==========			
		.section-slider__content.bg-red
			.section-slider__arrows
				button.arr-left.case-prev
					+sliderArrowLeft
				button.arr-right.case-next
					+sliderArrowRight
			
			.section-slider-body#case-slider
				+sliderIt
				+sliderIt
				+sliderIt