.test
    a(href="#!").button-white
        span Button
        span
            +sliderArrowRight
    pre(style="margin-bottom: 30px; margin-top: 15px" ).
        a(href="#!").button-white Button
        .button-white


.marked-text.marked-text--right
    span Blog Item
    span Headline
    span 4 Lines Right
.marked-text
    span Blog Item
    span Headline
    span 4 Lines Right