// red block
section.section--black.p-470.wedo-red
	.progress-bar
	.container.container--p0
		.color-block-wrapper
			.color-block--left
				.color-block__img
					img.main-img(src="img/whatwedo/1.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block
						.head-3.head-3--small
							h3 User acquisition and monetization
						.text-32
							p Creative Clicks knows how to deliver the users at scale that marketers need via campaigns optimized according to location, behavior, device, OS, creative type, demographics, etc.
// yellow block
section.section--black.p-470.wedo-yellow
	.progress-bar.progress-bar--right
	.container.container--p0
		.color-block-wrapper
			.color-block--right
				.color-block__img
					img.main-img(src="img/whatwedo/2.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block
						.head-3
							h3 Campaigns optimization
						.text-32
							p.visible-mobile Creative Clicks optimizes your mobile marketing campaigns according to yows, installs, traffic or any other action, ROI or metric.
							p.hide-mobile Creative Clicks optimizes your mobile marketing campaigns according to your KPIs – whether you’re looking for users, leads, sales, video views, installs, traffic or any other action, ROI or metric

//purple block
section.section--black.p-470.wedo-purple
	.progress-bar
	.container.container--p0
		.color-block-wrapper
			.color-block--left
				.color-block__img
					img.main-img(src="img/whatwedo/3.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block
						.head-3
							h3 Data Driven & Machine Learning Technology
						.text-32
							p At Creative Clicks, data is the gas, driven by insights, which powers our campaigns, thanks to our proprietary machine learning and tracking technology. Beyond our automated machine learning technology, our team uncovers insights based on audience, user and campaign data learned from the thousands of campaigns run by Creative Clicks since the company’s founding in 2009.
// green block
section.section--black.p-470.wedo-green
	.progress-bar.progress-bar--right
	.container.container--p0
		.color-block-wrapper
			.color-block--right
				.color-block__img
					img.main-img(src="img/whatwedo/4.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block
						.head-3
							h3 Fraud detection
						.text-32
							p Together with our proprietary fraud detection software <br class="visible-mobile"> which works<br class="visible-mobile">  proactively to filter traffic based on the client’s needs and is fully customizable and our dedicated monitoring team we <br class="visible-mobile"> can deliver amazing results and the ROI can be second to none all <br class="visible-mobile"> the time.
// blue block
section.section--black.p-470.wedo-blue
	.progress-bar.progress-bar--left
	.container.container--p0
		.color-block-wrapper
			.color-block--left
				.color-block__img
					img.main-img(src="img/whatwedo/5.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block
						.head-3
							h3 Efficient and transparent <br class="visible-mobile"> work <br class="hide-mobile">  flow
						.text-block__items
							.text-block__item
								.text-block__icon
									img(src="img/whatwedo/icon1.png", width="176" alt="icon")
								.text-block__desk
									h4.title-4 Objectives 
									.text-32
										p.hide-mobile Examine the advertiser's performance objectives and set campaign and acquisition goals
										p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet 
							.text-block__item
								.text-block__icon
									img(src="img/whatwedo/icon2.png", width="176" alt="icon")
								.text-block__desk
									h4.title-4 Launch
									.text-32
										p.hide-mobile Test campaign on a range of media channels, including our in-house publisher network, while monitoring budget spend
										p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet 
							.text-block__item
								.text-block__icon
									img(src="img/whatwedo/icon3.png", width="176" alt="icon")
								.text-block__desk
									h4.title-4 Analysis
									.text-32
										p.hide-mobile Following an initial quality<br> assessment, identify the top<br> converting publishers and media<br> channels with the best performing traffic
										p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet 
							.text-block__item
								.text-block__icon
									img(src="img/whatwedo/icon4.png", width="176" alt="icon")
								.text-block__desk
									h4.title-4 Scale Up
									.text-32
										p.hide-mobile Increase traffic and spend from the top converting publishers and media channels while monitoring KPIs
										p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet

