// red block
section.section--black.whoweare-red
    .progress-bar
    .container.container--p0
        .color-block-wrapper
            .color-block--left
                .color-block__img
                    img(src="img/whoweare/1.jpg", width="384" alt="img")
                    .blure-block
                        img(src="img/whoweare/1.jpg", width="384" alt="img")
                .color-block.p-128
                    .text-block
                        .head-3.head-3--small
                            p story
                            h3 10+ years of experience
                        .text-32
                            p Growing every year since our founding in 2009, we provide clients with 120+ experts and professionals to service their business every day. At Creative Clicks, performance marketing is in our DNA. We know when the next big opportunity is around the corner. When we find a new marketing channel that can help our clients achieve their goals, we test it.