// red block
section.section--black.whoweare-red
    .progress-bar
    .container.container--p0
        .color-block-wrapper
            .color-block--left
                .color-block__img
                    img(src="img/whoweare/1.jpg", width="384" alt="img")
                    .blure-block
                        img(src="img/whoweare/1.jpg", width="384" alt="img")
                .color-block.p-128
                    .text-block
                        .head-3.head-3--small
                            p story
                            h3 10+ years of experience
                        .text-32
                            p Growing every year since our founding in 2009, we provide clients with 120+ experts and professionals to service their business every day. At Creative Clicks, performance marketing is in our DNA. We know when the next big opportunity is around the corner. When we find a new marketing channel that can help our clients achieve their goals, we test it.
// purple block
section.section--black.whoweare-purple
    .progress-bar.progress-bar--left
    .container.container--p0
        .color-block-wrapper
            .color-block--left
                .color-block__img
                    img(src="img/whatwedo/5.jpg", width="384" alt="img")
                    .blure-block
                        img(src="img/whatwedo/5.jpg", width="384" alt="img")
                .color-block.p-128
                    .text-block
                        .head-3
                            h3 Efficient and transparent <br class="visible-mobile"> work <br class="hide-mobile">  flow
                        .text-block__items
                            .text-block__item
                                .text-block__icon
                                    img(src="img/whatwedo/icon1.png", width="176" alt="icon")
                                .text-block__desk
                                    h4.title-4 Objectives
                                    .text-32
                                        p.hide-mobile Examine the advertiser's performance objectives and set campaign and acquisition goals
                                        p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet
                            .text-block__item
                                .text-block__icon
                                    img(src="img/whatwedo/icon2.png", width="176" alt="icon")
                                .text-block__desk
                                    h4.title-4 Launch
                                    .text-32
                                        p.hide-mobile Test campaign on a range of media channels, including our in-house publisher network, while monitoring budget spend
                                        p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet
                            .text-block__item
                                .text-block__icon
                                    img(src="img/whatwedo/icon3.png", width="176" alt="icon")
                                .text-block__desk
                                    h4.title-4 Analysis
                                    .text-32
                                        p.hide-mobile Following an initial quality<br> assessment, identify the top<br> converting publishers and media<br> channels with the best performing traffic
                                        p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet
                            .text-block__item
                                .text-block__icon
                                    img(src="img/whatwedo/icon4.png", width="176" alt="icon")
                                .text-block__desk
                                    h4.title-4 Scale Up
                                    .text-32
                                        p.hide-mobile Increase traffic and spend from the top converting publishers and media channels while monitoring KPIs
                                        p.visible-mobile Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet
