/*HEADER ICON SCROLL*/
.scroll-icon{
  position: fixed;
  bottom: 30px;
  left: 50%;
  height: 48px;
  transform:translateX(-50%);
  cursor:default;
  z-index: 10;
  @media(max-width:1919px){
    height: 48px;
   
  }
  @media(max-width:1280px){
   
    height: 32px;
  }
  @media(max-width:767px){
    bottom: 26px;
  }
  a{
    display: inline-block;
    cursor:default;
    width: 30px;
    height: 48px;
    border:2px solid #fff;
    border-radius: 15px;
    position: relative;
    &:before{
      content: '.';
      color: #fff;
      position: absolute;
      left: 10px;
      top: 0;
      line-height: 1;
      animation-name: scrollIcon;
      animation-duration: 1.5s;
       animation-iteration-count: infinite;
      font-size: 24px;
    }
    @media(max-width:1919px){
      width: 25px;
      height: 40px;
      font-size: 22px;
      &:before{
        left: 8px;
        
      }
    }
    @media(max-width:1280px){
      width: 20px;
    height: 32px;
      &:before{
        left: 5px;
        
      }
    }
    @media(max-width:991px){
      &:before{
        left: 6px;
      }
    }
    @media(max-width:767px){
      &:before{
        left: 6px;
      }
    }
  }
}
@keyframes scrollIcon{
  0%{
    opacity: 1;
    top: 5px;
  }
  40%{
    opacity: .6;
    
  }
 85%{
    opacity: 0;
    top: -10px;
  }
  100%{
    opacity: 0;
    top: 5px;
   
  }
}
/*HEADER*/
// .header {
//   padding-left: 16px;
// }
// @media (max-width: 767px) {
//   .header {
//     padding-right: 16px;
//   }
// }
// .header-title {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   padding-left: 34px;
//   // padding-bottom: 105px;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .header .header-title {
//   padding-left: 0;
// }
// @media (max-width: 1199px) {
//   .header-title {
//     padding-left: 24px;
//   }
// }
// @media (max-width: 767px) {

//   .header-title {
//     -webkit-box-align: start;
//   -ms-flex-align: start;
//   align-items: flex-start;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     padding-left: 0;
//     padding-top: 128px;
//   }
// }
// .header-title {
//   overflow: hidden;
// }
// .header-title .title-group {
//   // padding-top: 192px;
//   position: relative;
//   @media(max-width:1919px){
//     // padding-top: 10vw;
// }
//   @media(max-width:1280px){
//       // padding-top: 128px;
//   }

//   padding-left: 12px;
// }
// .scroll-icon{
//   position: absolute;
//   bottom: -70px;
//   left: 50%;
//   height: 48px;
//   transform:translateX(-50%);
//   @media(max-width:1919px){
//     height: 32px;
//   }
//   @media(max-width:1280px){
//     bottom: -30px;
//   }
//   @media(max-width:767px){
//     bottom: 26px;
//   }
//   a{
//     display: inline-block;
//     width: 30px;
//     height: 48px;
//     border:1px solid #fff;
//     border-radius: 15px;
//     position: relative;
//     &:before{
//       content: '.';
//       color: #fff;
//       position: absolute;
//       left: 14px;
//       top: 0px;
//       line-height: 1.3;
//       animation-name: scrollIcon;
//       animation-duration: 1s;
//        animation-iteration-count: infinite;
//       font-size: 16px;
//     }
//     @media(max-width:1919px){
//       width: 25px;
//       height: 40px;
//       &:before{
//         left: 9px;
//         top: -2px;
//       }
//     }
//     @media(max-width:1280px){
//       width: 20px;
//     height: 32px;
//       &:before{
//         left: 7px;
//         top: -4px;
//       }
//     }
//   }
// }
// @keyframes scrollIcon{
//   0%{
//     opacity: 0;
//   }
//  50%{
//     opacity: 1;
//   }
//   100%{
//     opacity: 0;
//   }
// }
// @media (max-width: 1199px) {
//   .header-title .title-group {
   
//     padding-left: 0;
//   }
// }
// @media (max-width: 992px) {
//   .header-title .title-group {
//     max-width: 370px;
//   }
// }

// .header-title .title-group .title-2 {
//   color: #ff8b00;
//   max-width: 738px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 24px;
//   @media (max-width: 1920px) {
//     max-width: 37vw;
//   }
//   @media (max-width: 1280px) {
//     max-width: 492px;
//   }
// }
// @media (max-width: 992px) {
//   .header-title .title-group .title-2 {
//     max-width: 335px;
//     margin-top: 26px;
//     // margin-bottom: 80px;
//   }
// }
// .header-title__img {
//   position: relative;
//   margin-right: -15px;
//   max-width: 774px;
//   z-index: 5!important;
//   @media (max-width: 1920px) {
//     max-width: 40.9vw;
//   }
//   @media (max-width: 1280px) {
//     max-width: 516px;
//   }
// }

// .header-title__img picture {
//   position: relative;
//   z-index: 5;
// }
// .header-title__img{
//   box-shadow: 24px 24px 20px rgba(0,0,0, .25);
// }


// @media (max-width: 1199px) {
//   .header-title__img {
//     max-width: 380px;
//   }
// }
// @media (max-width: 992px) {
//   .header-title__img {
//     max-width: 330px;
//   }
// }
// @media (max-width: 767px) {
//   .header-title__img {
//     margin-right: 0;
//     // width: 267px;
//     max-width:255px;
//     margin-left: auto;
//   }
// }
