.header-title{
	position: relative;
	
	z-index: 5;
	.title-group{
		padding-top: 128px;
		padding-bottom: 128px;
		max-width:688px;
		margin-left: 0;
		
	}
	.title-group.title-group--reverse{
		flex-direction: column-reverse;
	}
}
.header-title .title-2{
	text-align: center;
}
.title-group.title-group--reverse  .title-2{
	margin-bottom: 0;
	margin-top: 24px;
}
.header-title .title-1{
	text-align: center;
}
.header-title .header-title__img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	max-width:524px;
}