/*HEADER ICON SCROLL*/
.scroll-icon {
  position: fixed;
  bottom: 50px;
  left: 50%;
  height: 48px;
  transform: translateX(-50%);
  cursor: default;
  opacity: 0;
  transition: .5s;
  z-index: 10;

  a {
    display: inline-block;
    cursor: default;
    width: 30px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 15px;
    position: relative;

    &:before {
      content: '.';
      color: #fff;
      position: absolute;
      left: 9px;
      top: 0;
      line-height: 1;
      animation-name: scrollIcon;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      font-size: 28px;
    }


    @media(max-width:1919px) {
      border: 2px solid #fff;
      width: 20px;
      height: 32px;

      &:before {
        left: 5px;
        animation-name: scrollIconMob;

      }
    }

  }
}

@keyframes scrollIcon {
  0% {
    opacity: 1;
    top: 5px;
  }

  40% {
    opacity: .6;

  }

  85% {
    opacity: 0;
    top: -14px;
  }

  100% {
    opacity: 0;
    top: 5px;

  }
}

@keyframes scrollIconMob {
  0% {
    opacity: 1;
    top: -5px;
  }

  40% {
    opacity: .6;

  }

  85% {
    opacity: 0;
    top: -12px;
  }

  100% {
    opacity: 0;
    top: -5px;

  }
}

