.header-navigation{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: #fff;
	transform: translateX(100%);
	z-index: 100;
	.tr;
}
.header-navigation.active{
	transform: translateX(0%);
}
.header-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 64px;
	background-color: #fff;
	max-width: 1280px;
	.ma;
	padding-left: 16px;
	padding-right: 20px;
	
}
/* header-menu*/
.header-menu{
	position: fixed;
	
	background-color: @blue;
	padding-left: 24px;
	padding-right: 24px;
	left: 50%;
	transform: translateX(-50%);
	max-width:1280px;
	width: 100%;
	top: 16px;
	bottom: 16px;
	// right: 16px;
	@media(max-width:1199px){
		transform: translateX(0%);
		width: auto;
		left: 16px;
		right: 16px;
	}

}
.header-menu__list-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 96px;
	@media(max-width:374px){
		margin-bottom: 48px;
	}
}
.header-menu__list{
	padding-top: 48px;
	
	max-width: 1280px;
	padding-left: 16px;
	padding-right: 16px;
	.ma;
}
.header-menu__list li{
	font-size: 40px;
	line-height: 36px;
	line-height: -0.02em;
	width: fit-content;
	text-transform: uppercase;
	position: relative;
	.tr;
	&+li{
		margin-top: 36px;
	}
	@media(max-width:374px){
		font-size: 28px;
		line-height: 28px;
		&+li{
			margin-top: 28px;
		}
	}
}
.header-menu__list li:after{
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	bottom: -3px;
	height: 1px;
	.tr;
	background-color: #fff;
}
.header-menu__list li:hover a{
	color: #fff;
}
.header-menu__list li:hover:after{
	width: 100%;
}
.header-menu__list li a{
	color: #000;
	.tr;
}
.header-menu__list li.active{
	a{color: #fff;}
	&:after{
		width: 100%;
	}
}
.close-mobile-menu path{
	.tr;
}
.close-mobile-menu:hover path{
	fill: #fff;
}
/*HEADER*/
.header{
	padding-left: 16px;
	padding-right: 16px;
}
.header-title{
	display: flex;
	
	justify-content: space-between;
	padding-left: 34px;
	padding-bottom: 100px;
	align-items: flex-start;
	@media(max-width:1199px){
		padding-left: 24px;
	}
	@media(max-width:767px){
		flex-direction: column;
		padding-left: 0;
	}
}
.header-title{
	overflow: hidden;
	.title-group{
		padding-top: 128px;	
		@media(max-width:1199px){padding-top: 90px;}
		@media(max-width:992px){
			max-width:370px;
		}
		@media(max-width:767px){
			padding-top: 128px;
			
		}
	}
	.title-group .title-2{
		color: @orange;
		max-width:492px;
		.ma;
		margin-top: 20px;
		@media(max-width:992px){
			max-width:335px;
			margin-top: 30px;
			margin-bottom: 80px;
			
		}
	}
}
.header-title__img{
	margin-right: -16px;
	max-width:517px;
	@media(max-width:1199px){
		max-width:380px;
	}
	@media(max-width:992px){
		max-width:330px;
	}
	@media(max-width:767px){
		margin-right: 0;
		width: 256px;
		margin-left: auto;
	}
}
.header-color-block{
	background-color: @orange;
	max-width:800px;
	margin-right: 72px;
	margin-left: auto;
	margin-top: -150px;
	padding-right: 40px;
	@media(min-width:1364px){
		padding-right: 116px;
	}
	
}
/*menu-toggle*/

.menu-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 24px;
	height: 24px;
	position: relative;
	cursor:pointer;

}

.menu-toggle span {
display: block;
width: 18px;
height: 2px;
position: relative;
background-color: #000;

-webkit-transition: .3s;
-o-transition: .3s;
transition: .3s;
}

.menu-toggle span:after,
.menu-toggle span:before {
content: '';
height: 2px;
position: absolute;
background-color: #000;
width: 100%;
-webkit-transition: .3s;
-o-transition: .3s;
transition: .3s;

}

.menu-toggle span:after {
top: -4px;
}

.menu-toggle span:before {
bottom: -4px;
}
