.partners .partners-content {
	position: relative;
	padding-top: 256px;
  }
  .partners-footer .partners-content {
	  @media(min-width:1280px){
		 padding-top: 128px; 
		 padding-bottom: 0;
	  }
	
	
  }
  @media (max-width: 1199px) {
	.partners-content {
	  padding-top: 128px;
	  
	}
  }
  .partners-content .title-group {
	margin-left: auto;
	margin-right: auto;
  }
  .partners-content .title-2 h2 {
	color: #ff8b00;
	letter-spacing: -0.01em;
	/* letter-spacing: 0.01em; */
  }
  .partners-content .title-2 {
	margin-bottom: 24px;
  }
  .partners-content .title-3 h3 {
	font-size: 56px;
	line-height: 48px;
  }
  @media (max-width: 767px) {
	.partners-content .title-group {
	  max-width: 290px;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  .partners-slider__item {
	height: 100vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	// justify-content: space-between;
	justify-content: center;
	
	align-items: center;
  }
  .partners-logo {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
  }
  .partners-logo +.partners-logo {
	  margin-left: 128px;
	  @media(max-width: 1279px){
		margin-left: 64px;
	  }
	  @media(max-width: 767px){
		margin-left: 0px;
		margin-top: 42px;
	  }
	  @media(max-width: 374px){
		
		margin-top: 28px;
	  }
	}
  .partners-slider__item {
	min-width: 100%;
	display: flex;
	// justify-content: space-around;
	
	align-items: center;
  }
  .partners-footer {
	position: relative;
	overflow: hidden;
  }
  .partners-footer .progress-bar {
	bottom: 116px;
  }
  .footer .progress-bar {
	bottom: 120px;
  }
  @media (max-width: 767px) {
	.partners-footer .progress-bar {
	  bottom: 52px;
	}
	.footer .progress-bar {
	  /* right: auto;
	  left: 0px; */
	  bottom: 52px;
	}
  }
  .partners-footer h3 {
	text-align: center;
	font-size: 56px;
	line-height: 48px;
	letter-spacing: -0.025em;
	text-transform: uppercase;
  }
  .partners-footer .partners-content {
	background-color: #000;
	// padding-bottom: 256px;
	position: relative;
  }
  @media (max-width: 767px) {
	.partners-footer .partners-content {
	  padding-bottom: 128px;
	}
	.partners-slider__item {
		flex-direction: column;
		justify-content: center;
		height: calc(~'100vh - 100px');
	}
  }