.partners{
	.partners-content{
		position: relative;
	}
	
}
.partners-content{
	padding-top: 260px;
	@media(max-width:1199px){
		padding-top: 128px;
	}
	.title-group{
		.ma;
	}
	.title-2{
		color: @orange;
	}
	.title-3 h3{
		font-size: 56px;
		line-height: 48px;
	}
	.title-group{
		@media(max-width:767px){
			max-width:290px;
			.ma;
		}
	}
}
.partners-slider__item{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners-logo{
	width: fit-content;
}

.partners-slider__item{
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners-footer{
	.progress-bar{
		bottom: 120px;
		@media(max-width:767px){
			right: auto;
			left:-16px;
			bottom:52px;
		}
		
	}
	position: relative;
	h3{
		text-align: center;
		font-size: 56px;
		line-height: 48px;
		letter-spacing: -0.025em;
		text-transform: uppercase;
	}
	
}
.partners-footer .partners-content{
	background-color: #000;
	padding-bottom: 256px;
	position: relative;
	@media(max-width:767px){
			padding-bottom: 128px;
		}
}