.blog {
  margin-top: 256px;

  @media (max-width: 767px) {
    margin-top: 128px;
  }

  .title-group {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 128px;

    .title-2 {
      color: @purple;
    }
  }

  .blog-content {
    background-color: @purple;
  }

  .blog-cards {
    display: flex;
    padding-bottom: 128px;
  }

  .marked-text {
    text-transform: uppercase;
  }

  .marked-text span {
    background-color: #000000;
  }
}