.events {

  .title-2 {
    color: @yellow;
  }

  .events-content {
    position: relative;
    background-color: @yellow;
    max-width: 1208px;
    padding-bottom: 57px;
    margin-left: -17px;
    padding-right: 128px;
    padding-left: 114px;

    .progress-bar {
      bottom: 52px;
      @media (max-width: 767px) {
        right: auto;
      }
    }

    .events-cards {
      position: relative;
      top: -72px;
      display: flex;


      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .events-cards-item{
      display: flex;
      flex-direction: column;
      width: 312px;
      border: 3px solid red;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 319px;
        margin-bottom: 96px;
      }
    }

    .events-cards-item-1{
      width: 312px;
    }

    .events-cards-item-2{
      width: 284px;
      margin-left: 28px;
    }

    .events-cards-item-3{
      width: 288px;
      margin-left: 56px;
    }

    .events-img {
      width: 225.8px;
      margin-right: auto;
      @media (max-width: 767px) {
        width: 256px;
        margin-right: unset;
      }
    }

    .events-lable {
      position: relative;
      left: 48px;
      bottom: 20px;
      margin-bottom: 4px;
    }

    .events-cards-title {
      min-height: 220px;
      margin-left: auto;
      margin-top: -18px;
    }

      .marked-text span {
      color: #000000;
      background-color: inherit;
      padding: 0;
    }

    .events-button {
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}