.events {
  .black-wrapper {
    position: relative;

    .progress-bar {
      bottom: 52px;
      @media (max-width: 767px) {
        right: auto;
      }
    }
  }

  .title-2 {
    color: @yellow;
  }

  .events-content {
    position: relative;
    background-color: @yellow;
    max-width: 1208px;
    padding-bottom: 57px;
    margin-left: -17px;
    padding-right: 128px;
    padding-left: 114px;
    @media (max-width: 1364px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @media (max-width: 991px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }


    .events-cards {
      position: relative;
      top: -72px;
      display: flex;
      max-width:970px;
      @media(min-width:768px){
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        top: -214px;
      }
    }

    .events-cards-item {
      display: flex;
      flex-direction: column;
      width: 312px;
     

      @media (max-width: 767px) {
        width: 100%;
        max-width: 319px;
        margin-bottom: 96px;
      }
    }

    .events-cards-item:nth-child(odd) {
      @media (max-width: 767px) {
        width: 300px;
        margin-left: auto;
      }
    }

    .events-cards-item:nth-child(odd) .events-img {
      @media (max-width: 767px) {
        position: relative;
        margin-left: auto;
        left: 20px;
      }
    }

    .events-cards-item:nth-child(odd) .events-cards-title {
      @media (max-width: 767px) {
        position: relative;
        margin-right: auto;
        z-index: 2;
      }
    }

    .events-cards-item:nth-child(odd) .events-button {
      @media (max-width: 767px) {
        margin-left: unset;
        margin-right: unset;
      }
    }

    .events-cards-item:nth-child(even) .events-cards-title {
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        .marked-text span {
          margin-left: auto;
        }
      }
    }

    .events-cards-item:nth-child(even) .lable {
      @media (max-width: 767px) {
        margin-left: auto;
      }
    }


    .events-cards-item:nth-child(even) .events-button {
      @media (max-width: 767px) {
        margin-right: unset;
        margin-left: auto;
      }
    }

    .events-cards-item-1 {
      width: 312px;
    }

    .events-cards-item-2 {
      width: 284px;
      margin-left: 28px;

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .events-cards-item-3 {
      width: 288px;
      margin-left: 56px;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .events-img {
      width: 225.8px;
      position: relative;
      img{
        position: relative;
        z-index: 2;
      }
      margin-right: auto;
        @media (max-width: 1199px) {
        width: 200px;
        margin-left: unset;
      }
      @media (max-width: 767px) {
        width: 256px;
        margin-right: unset;
      }
    }

    .events-lable {
      position: relative;
      left: 48px;
      bottom: 20px;
      margin-bottom: 4px;
    }

    .events-cards-title {
      min-height: 220px;
      
      margin-top: -18px;
      @media(min-width: 1365px){
        margin-left: auto;
      }
    }

    .marked-text span {
      color: #000000;
      background-color: inherit;
      padding: 0;
    }

    .events-button {
      margin-top: 24px;
      // margin-left: auto;
      // margin-right: auto;
      // @media(min-width:768px){
       
      //   margin-right: auto;
      // }
    }
  }
}
.events .events-cards .events-cards-item .events-img:after{
  content: '';
width: 100%;
height: 100%;
position: absolute;
background-color: #000;

background-size: cover;
background-position: 0 0;
background-repeat: no-repeat;
z-index: 1;
top: 20px;
left: 20px;
mix-blend-mode: multiply;
-webkit-filter: blur(32px);
filter: blur(14px);
}
.events .events-cards .events-cards-item:first-child .events-img:after{
  background-image: url(../img/images/12.jpg);
}
.events .events-cards .events-cards-item:nth-child(2) .events-img:after{
  background-image: url(../img/images/12.jpg);
}
.events .events-cards .events-cards-item:last-child .events-img:after{
  background-image: url(../img/images/12.jpg);
}