.header--careers {
  h2 {
    color: @red;
  }

  .header-title .title-group {
    padding-left: 0;

    .title-2 {
      position: relative;
      top: -5px;
      left: -5px;
      @media (max-width: 767px) {
        margin-bottom: 74px;
        left: 1px;
      }
    }

    .title-3 {
      position: relative;
      top: -2px;
      left: -7px;
      @media (max-width: 767px) {
        top: 0;
        left: 0;
      }
    }
  }

  .header-title__img {
    margin-top: -66px;
    @media (max-width: 1279px) {
      margin-top: -110px;
    }
    @media (max-width: 767px) {
      margin-top: 0px;
      max-width: 256px;
    }
  }

  .header-title__img:after {

    background-image: url(../img/careers/header.jpg);
    @media (max-width: 767px) {
      background-image: url(../img/careers/header-mob.jpg);
    }
  }
}

.header-color-block, .color-block {
  background-color: @red;
  padding-right: 128px;
  @media (max-width: 1279px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media (max-width: 767px) {
    padding-left: 24px;
    padding-right: 39px;
  }

  p + p {
    margin-top: 50px;
    @media (max-width: 767px) {
      margin-top: 39px;
    }

  }

  .header--careers {

    p span {
      position: relative;
      display: inline-block;
      line-height: 0.85;
      border-bottom: 1px solid #000;
    }

    @media (max-width: 1279px) {
      max-width: 600px;
      padding-left: 96px;
      padding-right: 96px;
    }
    @media (max-width: 991px) {
      max-width: 495px;
      padding-left: 48px;
      padding-right: 48px;
    }
    @media (max-width: 767px) {
      max-width: 495px;
      padding-left: 24px;
      padding-right: 39px;
      p + p {
        margin-top: 40px;
      }
    }
  }

  .text-block .head-3 {
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}

.careers-yellow {
  .color-block__img {
    top: 39px;
    @media (max-width: 767px) {
      top: 49px;
      left: -18px;
    }
  }

  .yellow-block {
    @media (max-width: 767px) {
      padding-right: 20px;
      padding-bottom: 130px;
      .text-block .head-3 {
        margin-bottom: 34px;
      }
    }

    .text-32 p:last-child {
      padding-bottom: 47px;
      @media (max-width: 767px) {
        padding-bottom: 34px;
      }
    }
  }

}

.careers-orange {
  .orange-block {
    @media (min-width: 768px) {
      padding-top: 130px;
    }
  }

  .color-block__img {
    top: 42px;
    right: 43px;
    @media (max-width: 767px) {
      top: 48px;
      right: -16px;
    }
  }

  .text-block .head-3 {
    margin-bottom: 62px;
    @media (max-width: 767px) {
      margin-bottom: 34px;
    }
  }

  .color-block__img {
    position: relative;
  }

  .color-block-wrapper {
    @media (max-width: 767px) {
      padding-top: 50px;
    }
  }
}

.button-playVideo.button-white {
  position: absolute;
  bottom: 61px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  height: 56px;
  line-height: 56px;
  transition: .5s;
  cursor: pointer;

  &:hover {
    background-color: #EBEBEB;
  }

  i {
    display: inline-block;
    margin-left: 16px;
  }

  @media (max-width: 767px) {
    bottom: 33px;
  }
}

.yellow-block {
  background-color: @yellow;
}

.orange-block {
  background-color: @orange;
}

/*JOB OPENNING*/
.vacancy .black-wrapper {
  @media (min-width: 1280px) {
    padding-top: 253px;
  }
}

.vacancy .title-group {
  margin-bottom: 185px;
  margin-right: 258px;
  @media (max-width: 767px) {
    margin-bottom: 181px;
    margin-right: 0;
  }
}

.vacancy .section--black {
  .progress-bar {
    bottom: 55px;
  }
}

.vacancy-content {
  .color-block {
    background-color: @purple;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    max-width: 1214px;
    padding-left: 120px;
    padding-right: 60px;
    margin-left: -16px;
    @media (max-width: 1279px) {
      margin-left: -16px;
      padding-left: 48px;
      padding-right: 48px;
    }
    @media (max-width: 991px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @media (max-width: 767px) {
      margin-left: 16px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .info-card__body {
    margin-top: -18px;
    height: 190px;
    @media (max-width: 1279px) {
      margin-top: -22px;
    }

    .marked-text {
      color: #000;
      padding-left: 2px;
    }
  }
}

.vacancy-content__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -64px;
  @media (max-width: 991px) {
    margin-top: -107px;
  }
  @media (max-width: 767px) {
    max-width: 325px;

  }
}

.vacancy-card {
  width: 33.3333%;
  margin-bottom: 96px;

  .info-card__footer {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  .info-card__img {
    width: 226px;
    height: 226px;
    @media (max-width: 767px) {
      width: 256px;
      height: 256px;
      position: relative;
      left: -17px;
    }
  }
}

.vacancy-content .button-box {
  margin-top: 32px;
  margin-bottom: 128px;
  position: relative;
  right: 33px;
  @media (max-width: 767px) {
    margin-top: 61px;
    right: 3px;
  }
}

.button-box {
  display: flex;
  justify-content: center;
}

.color-block.color-block--fix {
  @media (max-width: 767px) {
    max-width: 340px;
    margin-left: auto;

  }
}

/*APLLICATION*/

.application-list {
  margin-top: -10px;

  li {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & + li {
      margin-top: 36px;
    }

    span {
      display: block;
      text-align: center;
      min-height: 48px;
      min-width: 48px;
      line-height: 48px;
      border-radius: 50%;
      background-color: #000;
      margin-right: 24px;
      font-size: 24px;
    }

    p {
      font-size: 24px;
      line-height: 28px;
      color: #000;
    }
  }
}

.color-block-wrapper.wrapper--application {
  @media (min-width: 1279px) {
    padding-left: 63px;
    .color-block__img {
      top: 41px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 47px;
    .color-block__img {
      top: 48px;
    }
  }

  .color-block__img {
    // margin-right: auto;
    // margin-left: 48px;
    @media (max-width: 767px) {
      left: auto;
      right: -16px;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .text-block .head-3 {
    margin-bottom: 66px;
    @media(max-width: 767px){
      margin-bottom: 50px;
    }
  }
}

.wrapper--application .color-block--left {
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: auto;
  }
}

.application-slogan {
  margin-top: 56px;
  @media(max-width: 767px){
    margin-top: 60px;
  }

  h3 {

    font-size: 40px;
    line-height: .9;
    letter-spacing: -0.02em;
    color: #fff;
    text-transform: uppercase;

  }
}

@media (max-width: 767px) {
  .application-list {
    margin-top: 56px;
  }

  .application-list li span {
    min-width: 34px;
    min-height: 34px;
    max-width: 34px;
    max-height: 34px;
    line-height: 34px;
    margin-right: 16px;
  }

  .application-list li p {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .application-list li + li {
    margin-top: 26px;
  }
}

/*careers green block*/
.color-block.purple-block {
  background-color: @purple;
  padding-bottom: 130px;
}

.careers-purple {
  @media (max-width: 767px) {
    .color-block__img {
      margin-right: auto;
      margin-left: -16px;
      left: 0px;
      top: 51px;
    }

    .color-block--right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .color-block-wrapper {
    padding-right: 57px;
    @media(max-width: 1279px){
      padding-right: 0px;
    }
  }

  .text-block__btn {
    margin-top: 40px;
  }
}

.header-menu.header-menu--red {
  background-color: @red;
}

.careers-slider.section--black {
  .progress-bar {
    bottom: 99px;
    @media(max-width: 767px){
      bottom: 136px;
    }
  }
}