.info-card {
  margin-bottom: 96px;
  max-width: 338px;
  @media (max-width: 991px) {
    transform: scale(0.8);
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    transform: scale(1);
    margin-bottom: 67px;
  }

  .info-card__img {
    width: 226px;
    height: 226px;

    position: relative;
    z-index: 1;

    & > img {
      position: relative;
      z-index: 3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 767px) {
      width: 256px;
      height: 256px;
      position: relative;
      left: -17px;
    }
  }

  .blure-block {
    transform: unset;
    right: 0;
  }
}
.info-card2 {
  margin-bottom: 96px;
  max-width: 338px;
  img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.infocard-block__content.mb-0 .infocard-block__row .info-card2 {
  margin-bottom: 0;
  @media (max-width: 767px) {
    margin-bottom: 160px;
  }
}
.info-card,
.info-card2 {
  .info-card__body {
    padding-left: 48px;
    position: relative;
    z-index: 2;
  }

  .info-card__footer {
    padding-left: 48px;
    margin-top: 20px;
    @media (max-width: 991px) {
      margin-top: 0;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
    }
    .button-video {
      padding-left: 26px;
      padding-right: 26px;
    }
  }

  .marked-text,
  .marked-text span {
    background-color: transparent;
  }

  .info-card__badge {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    min-height: 40px;
    max-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-family: "Karla Bold";
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #000;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .info-card2:nth-child(odd),
  .info-card:nth-child(odd) {
    .info-card__img {
      position: relative;
      left: -17px;
    }

    .info-card__body {
      text-align: right;
      padding-right: 42px;
      padding-left: 0;
    }

    .info-card__footer {
      display: flex;
      padding-right: 42px;
      justify-content: flex-end;
    }
  }
  .info-card2:nth-child(even),
  .info-card:nth-child(even) {
    .info-card__img {
      position: relative;
      left: auto;
      margin-left: auto;
      right: -17px;
    }

    .info-card__footer,
    .info-card__body {
      padding-left: 24px;
    }
  }
}

/* new cards*/
.infocard-block__row .info-card2,
.infocard-block__row .info-card {
  max-width: 411px;
  width: 100%;
  margin-bottom: 120px;
  @media (max-width: 1920px) {
    max-width: 21.4vw;
    margin-bottom: 6.25vw;
  }
  @media (max-width: 1280px) {
    max-width: 274px;
    margin-bottom: 80px;
  }

  .marked-text {
    padding: 0;
    max-width: 95%;
    min-width: 411px;
    max-width: 411px;
    @media (max-width: 1920px) {
      min-width: 17.71vw;
      max-width: 17.71vw;
    }
    @media (max-width: 1280px) {
      min-width: 274px;
      max-width: 274px;
    }
    @media (max-width: 1279px) {
      min-width: unset;
    }
  }

  @media (max-width: 767px) {
    max-width: 303px;
    width: 100%;
    margin-bottom: 97px;
  }
}
.infocard-block__row .info-card2 {
  @media (max-width: 767px) {
    margin-bottom: 160px;
  }
}
.infocard-block__row .info-card {
  transform: scale(1);
}
.infocard-block__row .info-card2 + .info-card2,
.infocard-block__row .info-card + .info-card {
  margin-left: 80px;
  @media (max-width: 1280px) {
    margin-left: 64px;
  }
  @media (max-width: 1279px) {
    margin-left: 48px;
  }
  @media (max-width: 1199px) {
    margin-left: 35px;
  }
  @media (max-width: 991px) {
    margin-left: 16px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.infocard-block__row .info-card2 .info-card__img,
.infocard-block__row .info-card .info-card__img {
  position: relative;
  width: 226px;
  height: 226px;
  @media (max-width: 1199px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 991px) {
    width: 170px;
    height: 170px;
  }
  @media (max-width: 767px) {
    width: 256px;
    height: 256px;
  }
}
.infocard-block__row .info-card .info-card__img {
  & > img {
    position: relative;
    z-index: 2;
  }
}
.infocard-block__row .info-card .blure-block {
  left: 5.88%;
  right: 0%;
  top: 5.88%;
  bottom: 0%;
}
.infocard-block__row .info-card2 .info-card__body,
.infocard-block__row .info-card .info-card__body {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  @media (min-width: 768px) {
    padding-left: 48px;
  }
}
.infocard-block__row .info-card2.info-card--bg .info-card__title,
.infocard-block__row .info-card.info-card--bg .info-card__title {
  padding-left: 3px;
}
.infocard-block__row .info-card2 .marked-text span,
.infocard-block__row .info-card .marked-text span {
  padding-top: 0px;
  padding-bottom: 0px;

  &:last-child {
    padding-bottom: 1px;
  }
}
.infocard-block__row .info-card2.info-card--bg .info-card__body,
.infocard-block__row .info-card.info-card--bg .info-card__body {
  @media (min-width: 768px) {
    padding-left: 0;
  }
}
.infocard-block__row .info-card2 .info-card__footer,
.infocard-block__row .info-card .info-card__footer {
  margin-top: 33px;
  display: flex;
  @media (max-width: 1920px) {
    margin-top: 1.7vw;
  }
  @media (max-width: 1280px) {
    margin-top: 22px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .button-white {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (min-width: 767px) {
    padding-left: 20px;
  }

  @media (min-width: 1279px) {
    padding-left: 48px;
  }
}
.infocard-block__row .info-card2.info-card--bg .info-card__footer,
.infocard-block__row .info-card.info-card--bg .info-card__footer {
  @media (min-width: 768px) {
    padding-left: 0;
  }
}

// info-card--bg
.info-card2.info-card--bg,
.info-card.info-card--bg {
  .marked-text span {
    background-color: #000;
  }
}
.info-card2.info-card--bg .info-card__img,
.info-card.info-card--bg .info-card__img {
  margin-left: 48px;
  @media (min-width: 768px) and (max-width: 991px) {
    margin-left: 40px;
  }
}

// infocard-row
.infocard-block__row {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.infocard-block__row:first-child {
  margin-top: -64px;
  @media (max-width: 767px) {
    margin-top: -150px;
  }
}

// infocard-block
.infocard-block {
  padding-bottom: 192px;
  @media (max-width: 1919px) {
    padding-bottom: 10vw;
  }
  @media (max-width: 1280px) {
    padding-bottom: 128px;
  }
  @media (max-width: 767px) {
    padding-bottom: 125px;
  }

  .infocard-block__content {
    padding-left: 163px;
    padding-right: 163px;
    @media (max-width: 1920px) {
      padding-left: 5.2vw;
      padding-right: 5.2vw;
    }
    @media (max-width: 1280px) {
      padding-left: 109px;
      padding-right: 0px;
    }
  }

  max-width: 1752px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  @media (max-width: 1920px) {
    max-width: 90.6vw;
    &.infocard-block--yellow{max-width: 90.6vw;}
  }
  @media (max-width: 1280px) {
    max-width: 1168px;
  }
  @media (max-width: 1199px) {
    max-width: 850px;
    .infocard-block__content {
      padding-left: 24px;
    }
  }
  @media (max-width: 991px) {
    max-width: 750px;
  }
  @media (max-width: 767px) {
    max-width: 324px;
    margin-top: 286px;
    .infocard-block__content {
      padding-left: 0px;
    }

    margin-left: 0;
    &.infocard-block--right {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.infocard-block + .infocard-block {
  margin-top: 192px;
  @media (max-width: 767px) {
    margin-top: 304px;
  }
}

.infocard-block.infocard-block--red {
  background-color: @red;
}

.infocard-block.infocard-block--green {
  background-color: @green;
}

.infocard-block.infocard-block--purple {
  background-color: @purple;
}

.infocard-block.infocard-block--blue {
  background-color: @blue;
}

.infocard-block--yellow {
  background-color: @yellow;
  max-width: 1752px;
  @media (max-width: 1920px) {
    max-width: 93.75vw;
  }
  @media (max-width: 1280px) {
    max-width: 1168px;
  }
}

// mobile state left block + row(odd)
@media (max-width: 767px) {
  .infocard-block__row:nth-child(odd) {
    .info-card2:nth-child(odd),
    .info-card:nth-child(odd) {
      .info-card__img {
        margin-left: -2px;
      }

      .info-card__body {
        align-items: flex-end;
        padding-right: 36px;
      }

      .info-card__footer {
        justify-content: flex-end;
        padding-right: 36px;
      }

      .marked-text {
        align-items: flex-end;
        position: relative;
        text-align: right;
      }

      .info-card__title {
        // text-align: left;
        text-align: right;
      }
    }
    .info-card2.info-card--bg:nth-child(odd),
    .info-card.info-card--bg:nth-child(odd) {
      .marked-text {
        text-align: left;
      }

      .info-card__body {
        padding-left: 0px;
      }
    }
  }

  .infocard-block__row:nth-child(odd) {
    .info-card2:nth-child(even),
    .info-card:nth-child(even) {
      margin-left: auto;
      margin-right: 0;

      .info-card__img {
        right: -20px;
        margin-left: auto;
      }

      .info-card__body {
        padding-left: 42px;
      }

      .info-card__footer {
        padding-left: 42px;
      }

      .info-card__title {
        // text-align: right;
        text-align: left;
      }
    }
    .info-card2.info-card--bg:nth-child(even),
    .info-card.info-card--bg:nth-child(even) {
      .info-card__body {
        padding-left: 0;
      }

      .info-card__footer {
        padding-left: 0;
      }
    }
  }
}

// mobile state left block + row(even)
@media (max-width: 767px) {
  .infocard-block__row:nth-child(even) {
    .info-card2:nth-child(even),
    .info-card:nth-child(even) {
      .info-card__img {
        margin-left: 0;
        right: auto;
        left: -20px;
      }

      .info-card__body {
        align-items: flex-end;
        padding-right: 36px;
      }

      .info-card__footer {
        justify-content: flex-end;
        padding-right: 36px;
      }

      .marked-text {
        align-items: flex-end;
        position: relative;
      }

      .info-card__title {
        text-align: right;
      }
    }
  }

  .infocard-block__row:nth-child(even) {
    .info-card2:nth-child(odd),
    .info-card:nth-child(odd) {
      margin-left: auto;
      margin-right: 0;

      .info-card__img {
        right: -20px;
        left: auto;
        margin-left: auto;
      }

      .info-card__body {
        padding-left: 42px;
      }

      .info-card__footer {
        padding-left: 42px;
      }

      .info-card__title {
        text-align: left;
      }
    }
  }
}

@media (max-width: 767px) {
  .infocard-block.infocard-block--right {
    .infocard-block__row:nth-child(odd) {
      .info-card2:nth-child(odd),
      .info-card:nth-child(odd) {
        .info-card__title {
          text-align: right;
        }
      }
      .info-card2:nth-child(even),
      .info-card:nth-child(even) {
        .info-card__title {
          text-align: left;
        }
      }
    }

    .infocard-block__row:nth-child(even) {
      .info-card2:nth-child(even),
      .info-card:nth-child(even) {
        .marked-text {
          text-align: right;
        }

        .info-card__title {
          text-align: left;
        }
      }
    }
  }
}

.infocard-block.infocard-block--reverse {
  @media (max-width: 767px) {
    .infocard-block__row:nth-child(even) .info-card:nth-child(even),
    .infocard-block__row:nth-child(odd) .info-card:nth-child(odd),
    .infocard-block__row:nth-child(even) .info-card2:nth-child(even),
    .infocard-block__row:nth-child(odd) .info-card2:nth-child(odd) {
      margin-left: auto;
      margin-right: 0;

      .info-card__img {
        right: 0;
        margin-left: auto;
        left: auto;
      }

      .marked-text {
        text-align: left;
        align-items: flex-start;
      }

      .additional-info {
        text-align: left;
      }

      .info-card__body {
        align-items: flex-start;
      }

      .info-card__footer {
        justify-content: flex-start;
        padding-left: 0;
      }

      .info-card__title {
        text-align: left;
      }
    }
  }

  @media (max-width: 767px) {
    .infocard-block__row:nth-child(even) .info-card2:nth-child(odd),
    .infocard-block__row:nth-child(odd) .info-card2:nth-child(even),
    .infocard-block__row:nth-child(even) .info-card:nth-child(odd),
    .infocard-block__row:nth-child(odd) .info-card:nth-child(even) {
      margin-right: auto;
      margin-left: 0;

      .info-card__img {
        right: -20px;
        margin-left: auto;
        margin-left: 0;
        right: auto;
        left: -20px;
      }

      .info-card__body {
        padding-right: 26px;
        align-items: flex-end;
      }

      .marked-text {
        text-align: right;
        align-items: flex-end;
      }

      .additional-info {
        max-width: 90%;
        text-align: right;
      }

      .info-card__footer {
        max-width: 91%;
        justify-content: flex-end;
      }

      .info-card__title {
        text-align: right;
      }
    }

    .info-card.info-card--bg:nth-child(even) {
      .info-card__body {
        padding-left: 0;
      }

      .info-card__footer {
        padding-left: 0;
      }
    }
  }
}
.info-card2 .additional-info,
.case-slider .additional-info,
.info-card .additional-info {
  margin-top: 29px;

  p {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
    font-family: "Karla Bold";
    @media (max-width: 1920px) {
      font-size: 26px;
      line-height: 32px;
    }
    @media (max-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  p:last-child {
    font-family: "Karla Italic";
  }
}
// last info-card2
@media (max-width: 767px) {
  .infocard-block__row:last-child .info-card2:last-child {
    margin-bottom: 96px;
  }
}
