.section-title h3{
font-size: 56px;
line-height: 48px;
text-align: center;
letter-spacing: -0.025em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 192px;

}


.BACK {
	background-image: -moz-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
	opacity: 0.502;
	position: absolute;
	left: 1517px;
	top: 425px;
	width: 474px;
	height: 410px;
	z-index: 33;
  }
  