.section-content{
	background-color: #000;
	padding-top: 128px;
}
.top-block{
	
	.title-group{
		margin-bottom: 186px;
		
		@media(max-width:767px){
			max-width:200px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.title-2 h2{
			color: @purple;
		}
		h3{
			line-height: .83;
			@media(max-width:767px){line-height: .86;}
		}
	}
	.info-card__body{
		margin-top: -24px;
		position: relative;
		z-index: 2;
	}
	
}
.case-slider{
	.marked-text{
		margin-left: -3px;
		span{
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 1px;
			padding-bottom: 1px;
			font-size: 56px;
			line-height: .86;
			letter-spacing: -0.025em;
			text-transform: uppercase;
			background-color: #000;
			color: #fff;
			}
		}
		.case-slider__footer{
			margin-top: 23px;
			padding-left: 3px;
		}
		.additional-info{
			margin-top: 23px;
			margin-left: 1px;
		}
		
	
}
.case-studies__header.flex-start{
	align-items: flex-start
}
//nailing  slider
.nailing-slider .case-slider-wrapper,
.nailing-slider .case-slider-item{
	background-color: @purple;
	
}
.nailing-slider .case-studies__img{
	padding-top: 27px;
}
.nailing-slider{
	
	.case-studies__header .title-3 h3{
		line-height: 0.83;
	}
	.case-slider-wrapper{
		margin-top: -4px;
		position: relative;
		right: -4px;
	}
	.case-slider .owl-dots{
		padding-right: 25px;
	}
	.slider-btn{
		display: flex;
		justify-content: center;
		margin-top: 128px;
	}
}