.section-slider__content {
  max-width: 1302px;
  padding: 192px;
  margin-left: 38px;
  @media (max-width: 1920px) {
    max-width: 64.3vw;
    padding: 10vw;
  }
  @media (max-width: 1280px) {
    max-width: 868px;
    padding: 128px;
    margin-left: 25px;
  }
  @media (max-width: 1199px) {
    margin-left: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 22px;
    min-width: 327px;
    max-width: 80%;
  }
  @media (max-width: 424px) {
    max-width: 327px;
    padding-left: 16px;
    padding-right: 24px;
  }
}
.section-slider--reverse .section-slider__content {
  @media (min-width: 768px) {
    margin-left: auto;
  }
  @media (min-width: 1280px) {
    margin-right: 25px;
  }
}
.bg-purple {
  background-color: @purple;
}
.bg-green {
  background-color: @green;
}
.bg-yellow {
  background-color: @yellow;
}
.bg-red {
  background-color: @red;
}
.section-top {
  padding-top: 384px;
  padding-bottom: 232px;
  @media (max-width: 1920px) {
    padding-top: 19.5vw;
    padding-bottom: 11.78vw;
  }
  @media (max-width: 1280px) {
    padding-top: 256px;
    padding-bottom: 151px;
  }
  .title-group {
    margin-right: 0;
    padding-left: 0;

    @media (max-width: 1280px) {
      padding-left: 100px;
      padding-top: 256px;
      padding-bottom: 151px;
    }

    @media (max-width: 1199px) {
      max-width: 500px;
      margin-left: 47%;
      padding-right: 0;
    }
    @media (max-width: 991px) {
      margin-right: 0;
      margin-left: 44%;
      max-width: 300px;
    }
    @media (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
    }
    h3 {
      line-height: 0.81;
    }
    @media (max-width: 1199px) {
      h3 {
        line-height: 0.86;
      }
      margin-right: auto;
      position: relative;
    }
  }
  @media (max-width: 767px) {
    padding-top: 128px;
    padding-bottom: 288px;
    .title-group {
      margin-right: auto;
    }
  }
}
.section-slider--reverse .section-top {
  .title-group {
    margin-left: 0;
    margin-right: auto;
    @media (max-width: 1199px) {
      margin-left: auto;
      position: relative;
      max-width: 500px;
    }
    @media (max-width: 991px) {
      margin-right: 56%;
    }
    @media (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.section-slider-body {
  position: relative;
  z-index: 3;
}
.slide-item__text .slide-title {
  position: relative;
  max-width: 900px;
  z-index: 2;
  padding-left: 5px;
  @media (max-width: 1920px) {
    max-width: 46.8vw;
  }
  @media (max-width: 1280px) {
    max-width: 600px;
  }
  @media (max-width: 767px) {
    text-align: right;
    padding-right: 10px;
  }
}
.slide-item__text .slide-title h3 {
  line-height: 1;
  display: inline;
  background-color: #000;
  box-shadow: -5px 0 0 #000, 12px 0 0 #000;
  padding: 0;
  color: #ffffff;
  font-size: 84px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  @media (max-width: 1920px) {
    font-size: 4.375vw;
  }
  @media (max-width: 1280px) {
    font-size: 56px;
    box-shadow: -3px 0 0 #000, 9px 0 0 #000;
  }
  @media (max-width: 1279px) {
    font-size: 46px;
    line-height: 46px;
  }
  @media (max-width: 991px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 767px) {
    text-align: right;
    font-size: 40px;
    line-height: 1;
    margin-left: 0px;
  }
}
.info-card__title {
  max-width: 100%;
}
.info-card__title h3 {
  line-height: 60px;
  display: inline;
  background-color: #000;
  box-shadow: -5px 0 0 #000, 5px 0 0 #000;
  padding: 0px 0;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  @media (max-width: 1920px) {
    line-height: 2.1vw;
    font-size: 2.1vw;
  }
  @media (max-width: 1280px) {
    line-height: 40px;
    font-size: 40px;
  }
  @media (max-width: 1279px) {
    font-size: 34px;
    line-height: 34px;
  }
  @media (max-width: 991px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 767px) {
    text-align: right;
    font-size: 36px;
    line-height: 34px;
    margin-left: 0px;
  }
}
.section-slider__item {
  padding-bottom: 126px;
  @media (max-width: 1920px) {
    padding-bottom: 6.56vw;
  }
  @media (max-width: 1280px) {
    padding-bottom: 84px;
  }
  @media (max-width: 767px) {
    padding-bottom: 52px;
  }
}
.section-slider__item .slide-footer {
  margin-top: 23px;
  padding-left: 3px;
  display: flex;
  @media (max-width: 767px) {
    justify-content: flex-end;
    margin-left: 0;
  }
}
.slide-item__text .additional-info {
  margin-top: 45px;
  padding-left: 3px;
  @media (max-width: 1280px) {
    margin-top: 29px;
  }
  p {
    font-size: 30px;
    letter-spacing: 0.05em;
    line-height: 1.2;
    color: #000;
    @media (max-width: 1920px) {
      font-size: 1.56vw;
    }
    @media (max-width: 1280px) {
      font-size: 20px;
    }
  }
  p:last-child {
    font-family: "Karla Italic";
  }
  @media (max-width: 767px) {
    text-align: right;
    margin-top: 26px;
    margin-left: 1px;
  }
}
.section-slider__content {
  position: relative;
  .section-slider__arrows {
    position: absolute;
    left: -16px;
    right: 16px;
    top: -30px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    @media (max-width: 767px) {
      left: 0;
      right: -16px;
    }
  }
}
.section-slider--reverse {
  .section-slider__arrows {
    @media (min-width: 768px) {
      left: 16px;
      right: -16px;
    }
  }
}
.section-slider__content .section-slider__img {
  position: absolute;
  top: 40px;
  left: 64px;
  transform: translateY(-100%);
  z-index: 1;
  box-shadow: 24px 16px 47px rgba(19, 9, 12, 0.8);
  @media (max-width: 1279px) {
    left: 20px;
  }
  @media (max-width: 991px) {
    width: 256px;
    height: 256px;
  }
  @media (max-width: 767px) {
    left: 0;
    top: 47px;
  }
}
.section-slider--reverse .section-slider__content .section-slider__img {
  @media (min-width: 768px) {
    left: auto;
    right: 20px;
  }
  @media (min-width: 1280px) {
    left: auto;
    right: 72px;
  }
}

.section-slider__content .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 5px;
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 5px;
  }
}
.section-slider__content .slick-dots button:before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  outline: none;
  opacity: 1;
}
.section-slider__content .slick-dots li + li {
  margin-left: 7px;
}
.section-slider__content .slick-dots li.slick-active button:before {
  background-color: #000;
  color: #000;
}
.section-slider__btn {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    margin-top: 108px;
    padding-left: 22px;
  }
}
.nailing-slider .section-slider__btn {
  margin-top: 125px;

  @media (max-width: 767px) {
    margin-top: 129px;
  }
}
.talk-slider .section-slider__btn {
  margin-top: 124px;

  @media (max-width: 767px) {
    margin-top: 130px;
  }
}
.section-slider__content {
  margin-top: -40px;
  @media (max-width: 767px) {
    max-width: 345px;
  }
}
.slider__images {
  width: 576px;
  margin-left: auto;
  margin-right: 100px;
  z-index: 2;
  margin-top: -517px;
  box-shadow: 24px 16px 47px rgba(19, 9, 12, 0.8);
  @media (max-width: 1920px) {
    width: 30vw;
    margin-top: -24.7vw;
  }
  @media (max-width: 1280px) {
    width: 384px;
    margin-top: -345px;
  }
  @media (max-width: 1279px) {
    width: 300px;
    margin-right: 60px;
    margin-top: -245px;
  }
  @media (max-width: 991px) {
    max-width: 256px;
    max-height: 256px;
    margin-right: 60px;
    margin-top: -245px;
  }
  @media (max-width: 767px) {
    max-width: 256px;
    max-height: 256px;
    margin-top: -210px;
    margin-right: 0;
    margin-left: 0;
  }
}
.slider__images.slider__images--left {
  @media (min-width: 1920px) {
    margin-left: 150px;
  }
  @media (min-width: 991px) {
    margin-left: 100px;
    margin-right: auto;
  }
  @media (min-width: 767px) {
    margin-left: 45px;
    margin-right: auto;
  }
}
.slider__img-item {
  position: relative;
  img {
    @media (max-width: 991px) {
      max-width: 256px;
      max-height: 256px;
    }
    @media (max-width: 767px) {
      max-width: 256px;
      max-height: 256px;
    }
  }
}
