
.case-slider-wrapper--green{
	background-color: @green;
}
.talk-slider{
	.title-group h2{
		color: @green;
	}

}
.talk-slider.section-slider--reverse .section-top{
	.title-group{
		margin-left: 38px;
		@media(max-width:1279px){
			margin-left: 0;
		}
	}
	.title-group h2{
		color: @green;
	}
}