.top-block{
	padding-top: 128px;
	.title-group{
		margin-bottom: 186px;
		h3{
			line-height: .83;
		}
	}
	.info-card__body{
		margin-top: -24px;
		position: relative;
		z-index: 2;
	}
	.infocard-block--purple {
		
	}
}