.share-block{
	display: flex;
	align-items: center;
	margin-top: 32px;
	a{
		display: inline-block;
		transition: .5s;
		&:hover{
			opacity: .5;
		}
	}
	a+a{
		margin-left: 35px;
	}
	
}
.blogDetail-footer{
	background-color: #fff;
	padding: 128px;
	h4{
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: -0.02em;
		color: #000000;

	}
}
.blogDetail-wrapper{
	max-width: 800px;
	margin-right: 42px;
	margin-left: auto;
}
.blogDetail-body{
	padding: 124px;
	padding-top: 128px;
	padding-bottom: 128px;
}
.blogDetail-prevText{
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #000;
	p+p{
		margin-top: 36px;
	}
}
.blogDetail-prevText p a{
	color: #000;
	background-repeat: no-repeat;
	background-position: center bottom 3px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right,#000,#000);
	
}
.overview-blogDetail{
	.blogDetail-body{
		background-color:@purple;
	}
}
.blogDetail-list__item{
	margin-top: 37px;
	h3{
	font-size: 24px;
	line-height: 1.17;
	text-transform: uppercase;
	color: #000000;
	}
	.blogDetail-list__img{
		margin-top: 24px;
	}
	figcaption{
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.04em;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-top: 8px;
		font-family: 'Karla Regular';

		a{
			background-repeat: no-repeat;
			background-position: center bottom 1px;
			background-size: 100% 1px;
			background-image: linear-gradient(to right,#fff,#fff);
			color: #FFFFFF;
			transition:.5s;
			&:hover{
				color: #fff;
				opacity: .5;
			}
		}
	}
	.blogDetail-list__text{
		margin-top: 24px;
		p{
			font-size: 16px;
			line-height: 1.5;
			color: #FFFFFF;
			font-family: 'Karla Regular';
			a{
				color: #fff;
				background-repeat: no-repeat;
				background-position: center bottom 1px;
				background-size: 100% 1px;
				background-image: linear-gradient(to right,#fff,#fff);
				transition:.5s;
				&:hover{
					color: #fff;
					opacity: .5;
				}

			}
		}
		p+p{
			margin-top: 24px;
		}
	}
}
.blogDetail-list__text ul{
	margin-top: 24px;
	margin-bottom: 24px;

}
.blogDetail-list__text ul li{
	position: relative;
	font-size: 16px;
	line-height: 1.9;
	color: #FFFFFF;
	font-family: 'Karla Regular';
	&:before{
		content: '\2022';
		margin-right: 15px;
		color: #fff;
	}
}
.header--detail .header-content{
	display: flex;
	padding-top: 128px;
	padding-bottom: 36px;
	padding-left: 35px;
	padding-right: 115px;
	// justify-content: center;
	align-items: flex-start;
}
.header--detail .title-group h1{
	font-size: 56px;
	line-height: .86;
	text-align: center;
	letter-spacing: -0.025em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.header--detail .title-group{
	max-width: 688px;
	
}



.header--detail .header-content .header-image{
	&>img{
		position: relative;
		z-index: 2;
	}
	min-width: 386px;
	position: relative;
	top: 75px;
	z-index: 2;
}
.resources-blogDetail .title-group h2 a{
	color: @purple;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right, @purple, @purple);
	transition:.5s;
	&:hover{
		opacity: .7;
	}

}


.overview-blogDetail .progress-bar{
	bottom: 420px;
}

@media(max-width:1279px){
	.header--detail .title-group{
		width: 52%;
		margin-right: 3%;
		
	}
	.header--detail .header-content .header-image{
		width: 45%;
		max-width: 384px;
		min-width: unset;
	}
	.header--detail .title-group h1{
		font-size: 50px;
	}
}
@media(max-width:1199px){
	.header--detail .title-group{
		width: 57%;
	}
	.header--detail .title-group h1{
		font-size: 44px;
	}
	.header--detail .header-content .header-image{
		width: 36%;
	}
}
@media(max-width:991px){
	.blogDetail-body, .blogDetail-footer{
		padding-left: 56px;
		padding-right: 56px;
	}
	.header--detail .header-content{
		padding-left: 0;
		padding-right: 90px;	
	}
	.header--detail .title-group h1{
		font-size: 34px;
	}
}
@media(max-width:767px){
	.header--detail .header-content{
		display: block;
	}
	.header--detail .title-group{width: 100%;}
	.header--detail .header-content .header-image{
		width: 256px;
		top: 0px;
		margin-left: auto;
		right: -20px;
	}
	.header--detail .header-content{
		padding-left: 20px;
		padding-right: 20px;
	}
	.header--detail .title-group{
		margin-bottom: 80px;
	}
	.header--detail .title-group h1{
		font-size: 56px;
	}
	.blogDetail-body, .blogDetail-footer{
		padding-left: 20px;
		padding-right: 40px;
	}
	.blogDetail-wrapper{
		position: relative;
		left: -16px;
		margin-right: -16px;
		margin-top: -85px;
	}
	.resources-blogDetail{
		.footer-inner .footer-content .footer-logo{
			padding-top: 145px;
			margin-bottom: 141px;
		}
	}
}