.resources-blog{
	.title-group h2{
		color: @purple;
	}
	.top-block .title-group{
		margin-bottom: 278px;
	}
	.top-block .infocard-block__row:first-child{
		margin-top: -156px;
	}
	@media (min-width: 1280px){
		.footer.footer-inner {
			padding-top: 100px;
		}
	}
	.footer-inner .footer-content .footer-logo{
		@media(max-width: 767px){
			padding-top: 141px;
		}
	}
}
.resources-blog-results{
	.title-group h2{
		color: @purple;
	}
	.footer-inner .footer-content .footer-logo{
		@media(max-width: 767px){
			padding-top: 141px;
		}
	}
}
.resources-searchResult{
	section.top-block:first-of-type{
		.infocard-block {
			@media(max-width:767px){
				padding-bottom: 129px;
			}
		}	
	}
	section.top-block+section.top-block{
		.section-content {
			padding-top: 189px;
			@media(max-width:767px){
				padding-top: 16px;
			}
		}
		
		@media (max-width: 767px){
		 .info-card:nth-child(odd) .info-card__body {
			
			padding-right: 9px;
		}
		.info-card:nth-child(odd) .info-card__footer{
			padding-right: 9px;
		}
		.btn-wrap{
			padding-left: 10px;
		}

		}
	}
	.footer-content .footer-logo{
		@media (max-width: 767px){
			padding-top: 147px;
			margin-bottom: 145px;
		}
	}
	.footer.footer-inner{
		@media(min-width:1280px){
			padding-top: 102px;
		}
	}
}