.resources-cs{
	.title-2 h2 a{
		color: @red;
		background-image: linear-gradient(to right, @red, @red);

	}
	.header--light__content .title-1 {
		margin-bottom: 115px;
	}
	.prove-block .section-content{
		padding-top: 128px;
	}
	.prove-block .infocard-block{
		left: 2px;
	}
	.footer.footer-inner .footer-logo{
		padding-top: 105px;
		@media(max-width: 767px){
			padding-top: 150px;
			margin-bottom: 139px;
		}
	}
}