.blogDetail-wrapper{
	padding: 124px;
	max-width: 800px;
}
.blogDetail-prevText{
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #000;
	p+p{
		margin-top: 64px;
	}
}
.blogDetail-prevText p a{
	color: #000;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right,#000,#000);
	
}
.overview-blogDetail{
	.blogDetail-wrapper{
		background-color:@purple;
	}
}
.blogDetail-list__item{
	h3{
		
	}
}