.medgen-page{
	.header{
		overflow: hidden;
	}
	.header-color-block{
		position: relative;
		margin-top: 64px;
		padding-top: 130px;
		padding-left: 125px;
		
		.color-block__img{
			max-width:524px;
			width: 524px;
			right: -95px;
			top: -16px;
		}
		.color-block__img .main-img{right: 0;}
		.color-block__img .blur-img{
			left: 16px;
			top: 16px;
			right: 0;
			bottom: 0;
		}
	}
	.title-group{
		margin-left: 16px;
		margin-top: 256px;
		margin-bottom: 128px;
		
		h1{
			line-height: 0.83;
		}
		.title-2{
			max-width:490px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 24px;
			h2 {
				color: @blue;
			}
		}
	}
	.header-title{
		padding-bottom: 0;
	}
}
.bg-blue{
	background-color: @blue;
}
.text-block .head-3{
	margin-bottom: 48px;
}
.text-block .white-text{
	color: #fff;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.05em;
}
.text-block .dark-text{
	font-size: 24px;
	line-height: 36px;
	color: #000;
	letter-spacing: -0.02em;
	margin-top: 48px;
	font-family: 'Karla Regular';
}