.medgen-page{
	.header{
		overflow: hidden;
	}
	.header-color-block{
		position: relative;
		margin-top: 64px;
		padding-top: 130px;
		padding-left: 125px;
		
		.color-block__img{
			max-width:524px;
			width: 524px;
			right: -95px;
			top: -16px;
		}
		.color-block__img .main-img{right: 0;}
		.color-block__img .blur-img{
			left: 16px;
			top: 16px;
			right: 0;
			bottom: 0;
		}
	}
	.title-group{
		h2 {
				color: @blue;
			}
		}
	.header .title-group{
		margin-left: 16px;
		margin-top: 256px;
		margin-bottom: 128px;
		
		h1{
			line-height: 0.83;
		}
		.title-2{
			max-width:490px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 24px;
			
		}
	}
	.header-title{
		padding-bottom: 0;
	}
}
.bg-blue{
	background-color: @blue;
}
.text-block .head-3{
	margin-bottom: 48px;
}
.text-block .white-text{
	color: #fff;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.05em;
}
.text-block .dark-text{
	font-size: 24px;
	line-height: 36px;
	color: #000;
	letter-spacing: -0.02em;
	margin-top: 48px;
	font-family: 'Karla Regular';
}
.partners-slider-2 .partners-logo.logo-1{width: 117px; }
.partners-slider-2 .partners-logo.logo-2{width: 130px; }
.partners-slider-2 .partners-logo.logo-3{width: 124px;}
.partners-slider-2 .partners-logo.logo-4{width: 125px;}
.partners-slider-2 .partners-logo.logo-5{width: 135px;}
.partners-slider-2 .partners-logo.logo-6{width: 120px;}
.partners-slider-2 .partners-logo.logo-7{width: 145px;}

.medgen-cards .infocard-block__row:first-child{
	// margin-top: 0;
}
.medgen-cards .infocard-block__row{
	justify-content: center;
	.info-card2 +.info-card2{
		margin-left: 48px;
	}

}
.medgen-cards .infocard-block .infocard-block__content{
	padding-left: 0;
}
.medgen-cards .title-group{
	margin-bottom: 192px;
	max-width:45%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	.title-2{
		margin-top: 24px;
	}
}
.medgen-cards{
	.infocard-block{
		padding-bottom: 49px;
	}
	.info-card2{
		width: 32%;
		
		max-width:279px;
		.info-card__img{left: 37px;}
		.main-img{
			transform: translateY(0);
		}
		 .blur-img{
			 top: 5.88%;
		 }
		
		.info-card__body{
			padding-left: 0;
			margin-top: 0;
			h3{
				font-size: 40px;
				line-height:.9;
				letter-spacing: -0.02em;
				text-transform: uppercase;
				color: #fff;
				margin-top: 37px;
			}
			p{
				font-weight: bold;
				font-size: 24px;
				line-height: 1.5;
				letter-spacing: -0.02em;
				margin-top: 24px;
				color: #000;
			}
		}
	}
}
@media(max-width:1279px){
	// .medgen-cards .title-group{max-width:40%}
	
	.infocard-block{
		max-width: 95%;
	}
}
@media(max-width:1199px){
	.info-card2.info-card--medgen {width: 30%;}
	.info-card2.info-card--medgen .info-card__body{
		h3{font-size: 30px;}
		p{font-size: 20px;}
	}
	.medgen-cards .infocard-block__row{
		
		.info-card2 +.info-card2{
			margin-left: 24px;
		}
	
	}
}
@media(max-width:767px){
	.medgen-cards .title-group{max-width:320px;}
	.infocard-block{max-width: 325px;}
		
	
	.medgen-cards  .infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2:nth-child(odd),
	.medgen-cards .infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2:nth-child(even) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2.info-card--medgen:nth-child(odd) .info-card__img {
		right: auto;
		margin-left:0;
		left: -41px;
	}
	.infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2.info-card--medgen:nth-child(even) .info-card__img{
		left: auto;
		margin-right: 0;
		margin-left: auto;
		right: -21px;
	}
	.info-card2.info-card--medgen:nth-child(even) .info-card__img{
		margin-right:0;
		margin-left: auto;
		right: -20px;
	}
	.medgen-cards .infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2:nth-child(odd) .info-card__body,
	.medgen-cards .infocard-block.infocard-block--reverse .infocard-block__row:nth-child(odd) .info-card2:nth-child(even) .info-card__body{
		display: block;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
		h3{font-size: 40px;}
		p{
			font-size: 24px;
			text-align: left;
		}
	}
	
	.medgen-cards .infocard-block__row{
		.info-card2{margin-bottom: 0;}
		.info-card2 +.info-card2{
			margin-left:0;
			margin-top: 96px;
		}
	
	}
}