.whoweare-page {
  .header--whoweare .color-block {
    background-color: #FCE210;
  }

  .head-3 p{
    text-transform: uppercase;
    color: #000000;
  }

  .whoweare-red .color-block {
    background-color: #E71E5A;
  }

  .whoweare-purple .color-block{
    background-color: #B224FF;;
  }

  .infocard-block--yellow{
    .events-title{
      margin-bottom: 128px;
    }
    .infocard-block__row{
      margin-top: -64px;
    }

    .info-card__badge--white{
      color: #000;
      background-color: #FFFFFF;
      span+span{
        margin-left: 13px;
      }
    }
  }
}