.whoweare-page {
  .header--whoweare .color-block {
    background-color: #FCE210;
  }

  .head-3 p{
    text-transform: uppercase;
    color: #000000;
  }

  .whoweare-red .color-block {
    background-color: #E71E5A;
  }




}