section.section--black
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-body
				.blogDetail-image
					img.main-img(src="img/guides/1.jpg" width="384", alt="img")
					img.blur-img(src="img/guides/1.jpg" width="384", alt="img")
					
				.blogDetail-prevText
					p Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				.blogDetail-list
					
					// ========== blog item ==========
					.blogDetail-list__item
						h3 Lorum ipsum dolor
						.blogDetail-list__text
							p Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 

							p Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.
							.blogDetail-list__pic
								.img-wrap
									img(src="img/guides/22.jpg", width="279" alt="img")
								.img-text
									p Aenean lacinia bibendum nulla sed consectetur.
							h5 Sit amet:
							ul
								li Strong understanding of sales, communication and costumer success
								li Native level English speaker and writer
								li Great analytical skills, great Excel knowledge
								li Team player, motivated, proactive, driven to succeed
								li Bachelor’s degree in marketing, business or related field


			.blogDetail-footer
				h4 Share this article:
				.share-block
					a(href="#!")
						// ========== svg icon 1 =========
						+share1
					a(href="#!")
						// ========== svg icon 2 =========
						+share2
					a(href="#!")
						// ========== svg icon 3 =========
						+share3
