extends ../layouts/layout.pug

block content
	.careers-page
		include ../sections/careers/_careers-header
		include ../sections/careers/_job-opening.pug
		include ../sections/careers/_application.pug
		include ../sections/careers/_careers-slider.pug
		include ../sections/_footer


block variables
	-var title = "Careers";