extends ../layouts/layout.pug

block content
	.resources-cs-blogDetail
		include ../sections/resources/_99-header-detailes.pug
		include ../sections/case-studies/_cs-4.pug
		include ../sections/careers/_careers-footer
		
block variables
	-var title = "Case studies";