extends ../layouts/layout.pug

block content
	.resources-cs-blogDetail
		+headerBlog('Helping a famous <br class="hide-mobile"> social media platform <br class="hide-mobile"> drive registrations in <br class="hide-mobile"> APAC and LATAM', 'cs1', 'btn')
		include ../sections/case-studies/_cs-4.pug
		include ../sections/careers/_careers-footer
		
block variables
	-var title = "Case studies";