extends ../layouts/layout.pug

block content
	.resources-cs
		include ../sections/case-studies/_header-cs1.pug
		include ../sections/case-studies/_cs-2.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Case studies";