extends ../layouts/layout.pug

block content
	.resources-cs-blog
		include ../sections/case-studies/_header-cs1.pug
		include ../sections/case-studies/_cs-3.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Case studies";