extends ../layouts/layout.pug

block content
	.guides-blog
		include ../sections/guides/_header-guides.pug
		include ../sections/guides/_guides-2.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Guides-2";