extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_partners
	include ../sections/_slider-block
	include ../sections/_offices
	include ../sections/_blog
	include ../sections/_events
	include ../sections/_feedback


block variables
	-var title = "Home";
