extends ../layouts/layout.pug

block content
	.medgen-page
		include ../sections/_header-medgen
		include ../sections/_partners2
		include ../sections/_medgen-block1
		include ../sections/_medgen-block2
		include ../sections/_medgen-block3
		include ../sections/_medgen-block4
		include ../sections/_medgen-block5
		include ../sections/_medgen-footer


block variables
	-var title = "Medgen";
