extends ../layouts/layout.pug

block content
	.resources-blog-results
		include ../sections/resources/_header-blog.pug
		include ../sections/resources/_overview-3.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Overview blog Search results";