extends ../layouts/layout.pug

block content
	.resources-blogDetail
		include ../sections/resources/_header.pug
		include ../sections/resources/_overview-4.pug
		
block variables
	-var title = "Resources blog detail";