extends ../layouts/layout.pug

block content
	.resources-blog
		include ../sections/resources/_header-blog.pug
		include ../sections/resources/_overview-2.pug
		
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Resources-Blog";