extends ../layouts/layout.pug

block content
	.resources-searchResult
		include ../sections/resources/_header.pug
		include ../sections/resources/_overview-1.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Search results resources";