extends ../layouts/layout.pug

block content
	.resources-page
		include ../sections/resources/_header.pug
		include ../sections/resources/_2-top-block.pug
		include ../sections/resources/_3-nailing-slider.pug
		include ../sections/resources/_4-provit.pug
		


block variables
	-var title = "Careers";