extends ../layouts/layout.pug

block content
	.resources-searchResult
		include ../sections/resources/_header.pug
		include ../sections/resources/_9-resources-searchResult.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Search results resources";