extends ../layouts/layout.pug

block content
	.talks-blog
		include ../sections/talks/_header-talks.pug
		include ../sections/talks/_talks-2.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Talks-2";