extends ../layouts/layout.pug

block content
	.resources-talks
		include ../sections/talks/_header-talks.pug
		include ../sections/talks/_talks-1.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Talks-1";