extends ../layouts/layout.pug
block content
	.talks-blogDetail
		+headerBlog('Cc talks podcast', 'Creative Clicks China <br class="hide-mobile"> and the APAC Mobile <br> Marke&shy;ting')
		
		include ../sections/talks/_talks-3.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Talks-3";