extends ../layouts/layout.pug

block content
    .venture-page
        include ../sections/_header-venture
        include ../sections/_venture-content
        include ../sections/careers/_careers-footer


block variables
    -var title = "Venture";