extends ../layouts/layout.pug

block content
	.videos-blog
		include ../sections/yellow/_header-videos.pug
		include ../sections/yellow/_videos-2.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Videos-2";