extends ../layouts/layout.pug

block content
	.resources-guides
		include ../sections/guides/_header-guides.pug
		include ../sections/guides/_guides-1.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Guides-1";