extends ../layouts/layout.pug

block content
	.resources-videos
		include ../sections/yellow/_header-videos.pug
		include ../sections/yellow/_videos-1.pug
		include ../sections/careers/_careers-footer
		


block variables
	-var title = "Videos-1";