extends ../layouts/layout.pug

block content
	.wedo-page
		include ../sections/_header-2
		include ../sections/_whatwedo-content
		include ../sections/careers/_careers-footer


block variables
	- var title = "What we do";