extends ../layouts/layout.pug

block content
    .whoweare-page
        include ../sections/_header-whoweare
        //include ../sections/_whoweare-content
        //include ../sections/_footer


block variables
    -var title = "Who we are";