section.section--black
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-body
				.blogDetail-image
					img.main-img(src="img/talks/5.jpg" width="384", alt="img")
					img.blur-img(src="img/talks/5.jpg" width="384", alt="img")
					
				.blogDetail-prevText
					p “Streaming and entertainment clients, they didn’t really slow down a lot during this crisis, instead they started to move larger budget volumes especially starting August”, says our APAC Managing Director. 
				.blogDetail-list
					.blog-audio
						picture
							source(srcset="img/talks/bizz-mob.jpg" width="281" media="(max-width: 767px)")
							source(srcset="img/talks/bizz.jpg" width="550")
							img(src="img/talks/bizz.jpg", width="550" alt="img")
					// ========== blog item ==========
					.blogDetail-list__item
						
						.blogDetail-list__text
							p Hi everyone! Welcome back to CC talks. 

							p In our fourth episode, we discuss Creative Clicks China and the latest developments in mobile marketing in the APAC region- the first one affected by COVID-19- together with the Managing Director of Creative Clicks APAC.  

							p Creative Clicks China has the pleasure to work and be partners with some of the biggest and renowned names out there such as Lazada and Alibaba for e-commerce, TikTok and Netflix for streaming and entertainment, to name a few. 

							p As explained by our Director, during Q4 2019 a lot of partners were increasing their budgets and the business was going really strong. Interestingly enough, the outburst of the pandemic at the beginning of 2020 did not cause an immediate drop in spending from our clients. In fact, it wasn’t until mid-February that brands started realizing the gravity of the situation and therefore started investing less money and putting budgets on hold, especially during the months of April and May when the pick was at its max. 

							p However, since August, when things seemed to start really getting better and the situation allowed for more promotions, brands have started once again to invest pretty high and increasing budgets on ads. 

							p One of the verticals that has started investing significantly high budgets again is e-comm. In fact, if the vertical took a huge hit during the middle of the pandemic, with the flight restrictions and all the regulations about transportation, now thanks to cargo flights back on their routes and with the possibility of moving products, the business has gotten back to usual if not increased.
							p What about the other verticals? Which one will see significant growth in this Q4 2020 and Q1 2021 in the APAC region? Listen to the full episode to find out. Also available on #[a(href="#!") Spotify], #[a(href="#!") Apple Podcasts], and #[a(href="#!") Google Podcasts].
			.blogDetail-footer
				h4 Share this article:
				.share-block
					a(href="#!")
						// ========== svg icon 1 =========
						+share1
					a(href="#!")
						// ========== svg icon 2 =========
						+share2
					a(href="#!")
						// ========== svg icon 3 =========
						+share3
