mixin footer-social
	.contacts-icon
		p Follow us on
		.contacts-icon__block
			a(href="#!")
				+facebook
			a(href="#!")
				+lindk
			a(href="#!")
				+inst
			a(href="#!")
				+yout
			a(href="#!")
				+tw