mixin header-menu
	ul
		li.active
			a(href="index.html") Home
		li
			a(href="whatWeDo.html") What we do
		li
			a(href="#") Who we are
		li
			a(href="careers.html") Careers
		li
			a(href="resources.html") Resources
		li
			a(href="signIn.html") Sign in