mixin sliderArrowLeft
	<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 4.5L13.41 5.91L7.83 11.5L20 11.5L20 13.5L7.83 13.5L13.41 19.09L12 20.5L4 12.5L12 4.5Z" fill="black"/>
	</svg>

mixin sliderArrowRight
	<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 4.5L10.59 5.91L16.17 11.5H4V13.5H16.17L10.59 19.09L12 20.5L20 12.5L12 4.5Z" fill="black"/>
	</svg>

//- Иконка крестик
mixin icon-close
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black"/>
	</svg>

//- mixin eye
//- 	svg(width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg')
//- 		path(d='M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z' fill='black')
//- mixin eye2
//- 	svg(width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg')
//-   		path(d='M11.3 4.17501C14.129 4.17501 16.425 6.47101 16.425 9.30001C16.425 9.96626 16.2918 10.5915 16.056 11.1758L19.049 14.1688C20.5968 12.8773 21.8165 11.2065 22.5648 9.30001C20.7915 4.80026 16.4148 1.61251 11.2898 1.61251C9.85478 1.61251 8.48128 1.86876 7.21028 2.33001L9.42428 4.54401C10.0085 4.30826 10.6338 4.17501 11.3 4.17501ZM1.05002 1.37676L3.38702 3.71376L3.85852 4.18526C2.15702 5.50751 0.824524 7.27051 0.0250244 9.30001C1.79827 13.7998 6.17502 16.9875 11.3 16.9875C12.8888 16.9875 14.4058 16.68 15.7895 16.1265L16.22 16.557L19.2233 19.55L20.525 18.2483L2.35177 0.0750122L1.05002 1.37676ZM6.71828 7.04501L8.30702 8.63376C8.25578 8.84901 8.22503 9.07451 8.22503 9.30001C8.22503 11.0015 9.59853 12.375 11.3 12.375C11.5255 12.375 11.751 12.3443 11.9663 12.293L13.555 13.8818C12.8683 14.22 12.1098 14.425 11.3 14.425C8.47103 14.425 6.17502 12.129 6.17502 9.30001C6.17502 8.49026 6.38003 7.73176 6.71828 7.04501ZM11.136 6.24551L14.3648 9.47426L14.3853 9.31026C14.3853 7.60876 13.0118 6.23526 11.3103 6.23526L11.136 6.24551Z' fill='black')

