mixin infocard3(spanText, addText1, addText2, imgSrc)
	.info-card2.info-card--bg
		.info-card__img
			img.main-img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
			img.blur-img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
		.info-card__body
			.info-card__title
				h3 !{spanText}
			.additional-info
				p #{addText1}
				p #{addText2}
		.info-card__footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black.top-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			+titleGroup('The latest from the trade', 'We’re on top of it')
			.infocard-block.infocard-block--right.infocard-block--reverse.infocard-block--purple
				.infocard-block__content
					.infocard-block__item
						+infocard3('CPI to CPA Ways to Success', 'Today', '7 min. read', 3)
						
				.btn-wrap
					a(href="overview-1.html").button-white.light-button show all (12)
