mixin sliderIt
	.section-slider__item
		.slide-item__text
			.slide-title 
				h3 Certainty in our Uncertainty: <br>Six Trends for the<br class="hide-mobile"> 2020 Holiday Season and Beyond
			.additional-info
				p Day
				p Duration
		.slide-footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
// ========= SECTION ==========
section.section--black.nailing-slider
	.progress-bar.progress-bar--right
	.container.container--p0
		.section-top
			+titleGroup('The most read', 'We’re nailing it')
		// ========= IMG SLIDER ==========
		.slider__images.slider__images--left#nailing-images
			.slider__img-item
				img(src="img/resources/4.jpg", width="579" alt="img")
			.slider__img-item
				img(src="img/resources/4.jpg", width="579" alt="img")
			.slider__img-item
				img(src="img/resources/7.jpg", width="579" alt="img")
		// ========= TEXT SLIDER ==========
		.section-slider__content.bg-purple
			.section-slider__arrows
				button.arr-left.nailing-prev
					+sliderArrowLeft
				button.arr-right.nailing-next
					+sliderArrowRight
			
			.section-slider-body#nailing-slider(data-aos="fade-up"  data-aos-delay="400")
				+sliderIt
				+sliderIt
				+sliderIt
			.section-slider__btn(data-aos="fade-up"  data-aos-delay="450")
				a(href="#").button-white.light-button show all (12)