mixin infocard3(spanText, addText1, addText2, imgSrc,t1, t2, t3, t4)
	.info-card2.info-card--bg
		.info-card__img(data-aos="fade-up"  data-aos-delay=""+ t1)
			img.main-img(src="img/resources/"+imgSrc +".jpg", width="576" alt="img")
		.info-card__body
			.info-card__title(data-aos="fade-up"  data-aos-delay=""+ t2)
				h3 !{spanText}
			.additional-info(data-aos="fade-up"  data-aos-delay=""+ t3)
				p #{addText1}
				p #{addText2}
		.info-card__footer(data-aos="fade-up"  data-aos-delay=""+ t4)
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black.analyze-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			+titleGroup('Guides and reports', 'We analyze it')
			.infocard-block.infocard-block--right.infocard-block--blue(data-aos="fade-up"  data-aos-delay="500")
				.infocard-block__content
					.infocard-block__row
						+infocard3('Blog Item<br> Title with 3&nbsp;lines', 'Today', '7 min. read', 8, 450, 500,550,600)
						+infocard3('Blog Item <br>Title with 3&nbsp;lines' , '1 Day ago', '6 min. read', 8, 450, 500,550,600)
						+infocard3( 'Blog Item <br>Title with 3&nbsp;lines' , '2 Days ago', '5 min. read', 8, 450, 500,550,600)
					
				.btn-wrap(data-aos="fade-up"  data-aos-delay="650")
					a(href="guides-1.html").button-white.light-button show all (12)
