mixin infocard3(spanText, addText1, addText2, imgSrc)
	.info-card.info-card--bg
		.info-card__img
			img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
			.blure-block
				img(src="img/resources/"+imgSrc +".jpg", width="256" alt="img")
		.info-card__body
			.info-card__title
				h3 !{spanText}
			.additional-info
				p #{addText1}
				p #{addText2}
		.info-card__footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black.analyze-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			+titleGroup('Guides and reports', 'We analyze it')
			.infocard-block.infocard-block--right.infocard-block--blue
				.infocard-block__content
					.infocard-block__row
						+infocard3('Blog Item Title with 3&nbsp;lines', 'Today', '7 min. read', 8)
						+infocard3('Blog Item Title with 3&nbsp;lines' , '1 Day ago', '6 min. read', 8)
						+infocard3( 'Blog Item Title with 3&nbsp;lines' , '2 Days ago', '5 min. read', 8)
					
				.btn-wrap
					a(href="#!").button-white.light-button show all (12)
