mixin sliderIt
	.section-slider__item
		.slide-item__text
			.slide-title 
				h3 Video title with<br> 3&nbsp;lines
			.additional-info
				p Day
				p Duration
		.slide-footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black.captured-slider
	.progress-bar.progress-bar--right
	.container.container--p0
		.section-top
			+titleGroup('The most read', 'We captured it')
		.section-slider__content.bg-yellow
			.section-slider__arrows
				button.arr-left.captured-prev
					+sliderArrowLeft
				button.arr-right.captured-next
					+sliderArrowRight
			.section-slider__img
				img(src="img/resources/9.jpg", width="386" alt="img")
			.section-slider-body#captured-slider
				+sliderIt
				+sliderIt
				+sliderIt
			.section-slider__btn
				a(href="videos-1.html").button-white.black-button show all (12)
