section.feedback.feedback--reverse
	.progress-bar.progress-bar--right
	.container.container--p0
		.feedback-content
			.feedback__header
				.feedback__img.head-group__img
					img(src="img/feedback/1.jpg", width="386" alt="img")
				+titleGroup('Subscribe to be up-to-date', 'ENjoy <br> THe content?')
			.feedback-color-block.p-128
				.feedback-form-wrapper
					form.contact-form#contact-form(action="#" method="POST" autocomplete="off")
						.form-item
							input(type="text" name="email" placeholder="Your e-mail")
						.form-btn
							button(type="submit").button-white
								span Subscribe
								span 
									+sliderArrowRight