// header-top
.header-top
	a(href="index.html").logo
		img(src="img/logo/logo.png", width="92" alt="logo")
	.menu-toggle
		span
//header-menu
.header-navigation
	.header-menu.header-menu--purple
		.header-menu__list
			.header-menu__list-head
				a(href="index.html").logo.logo--mobile
					img(src="img/logo/logo.png", width="92" alt="logo")
				button.close-mobile-menu
					+icon-close
			ul
				li
					a(href="index.html") Home
				li
					a(href="whatWeDo.html") What we do
				li
					a(href="whoWeAre.html") Who we are
				li
					a(href="careers.html") Careers
				li.active
					a(href="resources.html") Resources
				li
					a(href="signIn.html") Sign in
.hidden-layout
header.header.header--detail
	.container.container--p0
		.header-content
			.title-group.text-center
				.title-2
					h2 Blog
				.title-1
					h1 Certainty in our #[br.hide-mobile] Un&shy;certainty: #[br.hide-mobile]Six Trends for the#[br.hide-mobile]2020 Holiday Season#[br] and Beyond
					
			.header-image
				img(src="img/blog/1.jpg" width="384", alt="img")
				.blure-block
					img(src="img/blog/1.jpg" width="384", alt="img")