section.section--black.overview-blogDetail
	.progress-bar.progress-bar--left
	.container
		.blogDetail-wrapper
			.blogDetail-prevText
				p As we wrote in our #[a(href="#!") blog post on Black Friday and Cyber Monday], the holiday shopping season has started earlier than in previous years.
				p What else can you expect this holiday season?

				p First, eMarketer just published research showing that US consumers will spend $190.47 billion online this holiday shopping season. This is a 35.8% increase in sales versus 2019. By comparison, the increase from 2018 to 2019 was only 15.4%, so this jump for eCommerce is huge.

				p We’ve analyzed online retail data sources and compiled a list of holiday shopping trends expected this holiday season and beyond.
			.blogDetail-list
				.blogDetail-list__item
					h3 1. Digital Goods are the new Black
					.blogDetail-list__img
						figure
							img(src="img/blog/1.jpg", alt="img")
							figcaption test title