mixin infocard3(spanText, addText1, addText2, imgSrc, t1, t2, t3, t4)
	.info-card2.info-card--bg
		.info-card__img(data-aos="fade-up"  data-aos-delay=""+ t1)
			img.main-img(src="img/resources/"+imgSrc +".jpg", width="384" alt="img")
			
		.info-card__body
			.info-card__title(data-aos="fade-up"  data-aos-delay=""+ t2)
				h3 !{spanText}
			.additional-info(data-aos="fade-up"  data-aos-delay=""+ t3)
				p #{addText1}
				p #{addText2}
		.info-card__footer(data-aos="fade-up"  data-aos-delay=""+ t4)
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight


section.section--black.top-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			+titleGroup('The latest from the trade', 'We’re on top of it')
			.infocard-block.infocard-block--right.infocard-block--reverse.infocard-block--purple(data-aos="fade-up"  data-aos-delay="350")
				.infocard-block__content
					.infocard-block__row
						+infocard3('CPI to CPA Ways to Success', 'Today', '7 min. read', 1, 450,500, 550, 600)
						+infocard3('2020 <br>Holiday Shopping: Preparing for&nbsp;Black Friday and&nbsp;Cyber Monday', '1 Day ago', '6 min. read', 2, 450,500, 550, 600)
						+infocard3('With TikTok Experience Matters', '2 Days ago', '5 min. read', 3, 450,500, 550, 600)
					.infocard-block__row
						+infocard3('CPI to CPA Ways to Success', 'Today', '7 min. read', 1, 450,500, 550, 600)
						+infocard3('CPI to CPA Ways to Success', '1 Day ago', '6 min. read', 2, 450,500, 550, 600)
						+infocard3('With TikTok Experience Matters', '2 Days ago', '5 min. read', 3, 450,500, 550, 600)
				.btn-wrap(data-aos="fade-up"  data-aos-delay="650")
					a(href="overview-3.html").button-white.light-button.show-more show more
				