mixin infocard3(spanText, addText1, addText2, imgSrc, t1, t2, t3, t4)
	.info-card2.info-card--bg
		.info-card__img(data-aos="fade-up"  data-aos-delay=""+ t1)
			img.main-img(src="img/resources/"+imgSrc +".jpg", width="384" alt="img")
			
		.info-card__body
			.info-card__title(data-aos="fade-up"  data-aos-delay=""+ t2)
				h3 !{spanText}
			.additional-info(data-aos="fade-up"  data-aos-delay=""+ t3)
				p #{addText1}
				p #{addText2}
		.info-card__footer(data-aos="fade-up"  data-aos-delay=""+ t4)
			a(href="overview-4.html").button-white
				span Learn more
				span
					+sliderArrowRight

section.section--black.top-block
	.progress-bar.progress-bar--left
	.container.container--p0
		.section-content
			.section-title(data-aos="fade-up"  data-aos-delay="300")
				h3 2 results:
			.infocard-block.infocard-block--right.infocard-block--reverse.infocard-block--purple(data-aos="fade-up"  data-aos-delay="350")
				.infocard-block__content
					// =====  cards row =====
					.infocard-block__row
						+infocard3('Certainty&nbsp;in our Uncertainty: Six Trends for&nbsp;the&nbsp;2020 Holiday Season and Beyond', 'Today', '7 min. read', 4, 450,500, 550, 600)
						+infocard3('Certainty in our Uncertainty:', '1 Day ago', '6 min. read', 8, 450,500, 550, 600)
						
				.btn-wrap
					a(href="#!").button-white.light-button show all (12)