mixin sliderIt
	.section-slider__item
		.slide-item__text
			.slide-title 
				h3 Certainty in our Uncertainty: <br>Six Trends for the<br class="hide-mobile"> 2020 Holiday Season and Beyond
			.additional-info
				p Day
				p Duration
		.slide-footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
section.section--black
	.progress-bar.progress-bar--right
	.container.container--p0
		.section-top
			+titleGroup('The most read', 'We’re nailing it')
		.section-slider__content.bg-purple
			.section-slider__arrows
				button.arr-left.nailing-prev
					+sliderArrowLeft
				button.arr-right.nailing-next
					+sliderArrowRight
			.section-slider__img
				img(src="img/resources/4.jpg", width="386" alt="img")
			.section-slider-body#nailing-slider
				+sliderIt
				+sliderIt
				+sliderIt
			.section-slider__btn
				a(href="#").button-white.light-button show all (12)