// header-top
.header-top
	a(href="index.html").logo
		img(src="img/logo/logo.png", width="92" alt="logo")
	.menu-toggle
		span
//header-menu
.header-navigation
	.header-menu.header-menu--purple
		.header-menu__list
			.header-menu__list-head
				a(href="index.html").logo.logo--mobile
					img(src="img/logo/logo.png", width="92" alt="logo")
				button.close-mobile-menu
					+icon-close
			ul
				li
					a(href="index.html") Home
				li
					a(href="whatWeDo.html") What we do
				li
					a(href="whoWeAre.html") Who we are
				li
					a(href="careers.html") Careers
				li.active
					a(href="resources.html") Resources
				li
					a(href="signIn.html") Sign in
.hidden-layout
header.header.header--light
	.container.container--p0
		.header--light__content
			.title-group.text-center
				.title-2
					h2
						a(href="resources.html") resources
				.title-1
					h1 videos
			.header-form
				form(action="#!").header-search
					.form-item
						input(type="text" placeholder="Search")
						button.search-btn
							img(src="img/resources/search.svg" width="24", alt="searchIcon")