mixin liItem(num, text)
	li
		span #{num}
		p !{text}
// applicatopn blue block
section.section--black.p-470.wedo-blue
	.progress-bar.progress-bar--right
	.container.container--p0
		.color-block-wrapper.wrapper--application
			.color-block--left
				.color-block__img
					img.main-img(src="img/whatwedo/5.jpg", width="576" alt="img")
					img.blur-img(src="img/whatwedo/5.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block.text-block--application
						.head-3
							h3 Application process
						.application-list
							ul
								+liItem(1, 'CV screening')
								+liItem(2, 'equaltur (online game <br> assessment)')
								+liItem(3, 'introduction / orientation call')
								+liItem(4, 'interview round 1')
								+liItem(5, 'case study / assignment')
								+liItem(6, 'interview round 2 ')
						.application-slogan
							h3 Welcome <br class="visible-mobile "> to <br class=" hide-mobile ">Creative Clicks!
section.section--black.p-470.careers-purple
	.progress-bar
	.container.container--p0
		.color-block-wrapper
			.color-block--right
				.color-block__img
					img.main-img(src="img/careers/4.jpg", width="576" alt="img")
					img.blur-img(src="img/careers/4.jpg", width="3576" alt="img")
				.color-block.p-128.purple-block
					.text-block
						.head-3
							h3 GET NOTIFIED OF OPEN POSITIONS
						.text-block__btn
							a(href="#!").button-white
								span Keep me posted
								span
									+sliderArrowRight