mixin liItem(num, text)
	li
		span #{num}
		p !{text}
// applicatopn blue block
section.section--black.p-470.wedo-blue
	.progress-bar.progress-bar--right
	.container.container--p0
		.color-block-wrapper.wrapper--application
			.color-block--left(data-aos="fade-up"  data-aos-delay="300")
				.color-block__img(data-aos="fade-up"  data-aos-delay="350")
					img.main-img(src="img/whatwedo/5.jpg", width="576" alt="img")
				.color-block.p-128
					.text-block.text-block--application
						.head-3(data-aos="fade-up"  data-aos-delay="400")
							h3 Application process
						.application-list(data-aos="fade-up"  data-aos-delay="450")
							ul
								+liItem(1, 'CV screening')
								+liItem(2, 'equaltur (online game <br> assessment)')
								+liItem(3, 'introduction / orientation call')
								+liItem(4, 'interview round 1')
								+liItem(5, 'case study / assignment')
								+liItem(6, 'interview round 2 ')
						.application-slogan(data-aos="fade-up"  data-aos-delay="500")
							h3 Welcome <br class="visible-mobile "> to <br class=" hide-mobile ">Creative Clicks!
section.section--black.p-470.careers-purple
	.progress-bar
	.container.container--p0
		.color-block-wrapper
			.color-block--right(data-aos="fade-up"  data-aos-delay="300")
				.color-block__img(data-aos="fade-up"  data-aos-delay="350")
					img.main-img(src="img/careers/4.jpg", width="576" alt="img")
				.color-block.p-128.purple-block
					.text-block
						.head-3(data-aos="fade-up"  data-aos-delay="400")
							h3 GET NOTIFIED OF OPEN POSITIONS
						
						.feedback-form-wrapper
							form.contact-form#contact-form(action="#" method="POST" autocomplete="off")
								.form-item(data-aos="fade-up"  data-aos-delay="450")
									label Email address
									input(type="text" name="email" placeholder="Your e-mail")
								.form-btn.text-block__btn(data-aos="fade-up"  data-aos-delay="500")
									a(href="#!").button-white
										span Keep me posted
										span
											+sliderArrowRight