footer.footer.footer-inner
	.container
		.footer-content
			.footer-logo
				img(src="img/logo/logo-footer.png", width="172" alt="logo")
			.footer-bottom
				.footer-bottom-left
					a(href="#!") careers
				.footer-bottom-right
					a(href="#!").btn-open-modal contact
			+footer-social
include ../_modal-form