section.careers-slider.section--black
	.container.container--p0
		.careers-slider__wrapper
			.progress-bar
			.careers-slider__pictures#careers-slider1
				.careers-slider1__item
					img(src="img/careers/slider/1.jpg", width="240" alt="slide")
					.blure-block
						img(src="img/careers/slider/1.jpg", width="240" alt="slide")
				.careers-slider1__item
					img(src="img/careers/slider/1.jpg", width="240" alt="slide")
					.blure-block
						img(src="img/careers/slider/1.jpg", width="240" alt="slide")
				.careers-slider1__item
					img(src="img/careers/slider/1.jpg", width="240" alt="slide")
					.blure-block
						img(src="img/careers/slider/1.jpg", width="240" alt="slide")
				.careers-slider1__item
					img(src="img/careers/slider/1.jpg", width="240" alt="slide")
					.blure-block
						img(src="img/careers/slider/1.jpg", width="240" alt="slide")
				.careers-slider1__item
					img(src="img/careers/slider/1.jpg", width="240" alt="slide")
					.blure-block
						img(src="img/careers/slider/1.jpg", width="240" alt="slide")
		
			.color-block.p-128
				.careers-slider__text#careers-slider2
					.careers-slider2__item
						.head-3
							h3 Life at Creative Clicks
					.careers-slider2__item
						.head-3
							h3 Life at Creative Clicks_2
					.careers-slider2__item
						.head-3
							h3 Life at Creative Clicks_3
					.careers-slider2__item
						.head-3
							h3 Life at Creative Clicks_4
					.careers-slider2__item
						.head-3
							h3 Life at Creative Clicks_5
			.careers-slider-nextBtn
				+sliderArrowRight
			.careers-slider-prevBtn
				+sliderArrowLeft
