// header-top
.header-top
	a(href="index.html").logo
		img(src="img/logo/logo.png", width="92" alt="logo")
	.menu-toggle
		span
	//header-menu
.header-navigation
	.header-menu.header-menu--orange
		.header-menu__list
			.header-menu__list-head
				a(href="index.html").logo.logo--mobile
					img(src="img/logo/logo.png", width="92" alt="logo")
				button.close-mobile-menu
					+icon-close
			ul
				li.active
					a(href="index.html") Home
				li
					a(href="whatWeDo.html") What we do
				li
					a(href="#") Who we are
				li
					a(href="careers.html") Careers
				li
					a(href="resources.html") Resources
				li
					a(href="signIn.html") Sign in
header.header.header--careers
	.progress-bar.progress-bar--right
	.hidden-layout
	.container.container--p0
		.header-title
			.title-group
				.title-3
					h3 Careers
				.title-2
					h2 For ambitious people
			
			.header-title__img
				picture
					source(srcset="img/careers/header-mob.jpg" media="(max-width: 767px)" width="256" alt="img")
					source(srcset="img/whatwedo/header.jpg", width="500" alt="img")
					img(src="img/careers/header.jpg", width="524" alt="img")
		.header-color-block.p-128.color-block
			.text-block
				.head-3
					h3 Who are we <br>looking for?
				.text-32
					p An ambitious Energetic, Entrepreneurial and Digital Expert with a winner’s mentality. You love being challenged and you are eager to take the next step in your career. 
					p If #[span this is you], we are looking for you!